footer {
  padding: 2.4rem 0 1.6rem;
  margin-top: 12rem;
  border-top: 1px solid $color-border;
  font-size: $font-size-xs;

  @include respondTo(tablet-s) {
    font-size: $font-size-sm;
    padding-top: 5rem;
  }

  @include respondTo(tablet-l) {
    margin-top: 24rem;
    padding: 8.8rem 0 2.4rem;
  }

  @include respondTo(pc-s) {
    font-size: $font-size-md;
  }

  .ft__inner {
    width: 100%;

    @include respondTo(tablet-l) {
      display: grid;
      grid-template-columns: 60% 40%;
      grid-template-areas:
        "tel info"
        "c logo";
      flex-wrap: wrap;
      flex-direction: row;
      row-gap: 6rem;
    }

    .connect {
      @include respondTo(tablet-l) {
        grid-area: tel;
      }

      p {
        font-size: $font-size-display-xs;
        font-weight: $weight-bold;
        line-height: 140%;
        @include respondTo(tablet-s) {
          font-size: calc($font-size-display-xs + 0.4rem);
        }

        @include respondTo(tablet-l) {
          font-size: $font-size-display-md;
        }
      }

      a {
        position: relative;
        margin-top: 1.6rem;
        color: #fff;
        padding: 1.6rem 5rem 1.6rem 2.2rem;
        border-radius: 1000px;
        background-color: $color-gray-800;
        overflow: hidden;

        transition: all 0.4s;

        @include respondTo(tablet-l) {
          margin-top: 2rem;
          padding: 1.6rem 6rem 1.6rem 2.2rem;
        }

        &::after {
          @include pseudoDefault(#fff, 2.9rem);
          border-radius: 50%;
          top: 50%;
          left: calc(100% - 4rem);
          transform: translateY(-50%);
          background-image: url("@assets/images/icon/icon_call.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 55%;

          @include respondTo(tablet-l) {
            left: calc(100% - 4.8rem);
            width: 3.5rem;
            height: 3.5rem;
          }
        }
      }
    }

    .ft-info {
      margin-top: 7rem;

      @include respondTo(tablet-l) {
        grid-area: info;
        margin-top: 0;
      }

      p,
      address {
        line-height: 220%;
      }
      .dt {
        margin-right: 12px;
        font-weight: $weight-semiBold;
      }

      .dd {
        color: $color-gray-700;
      }
    }

    .logo {
      margin-top: 2rem;
      width: 130px;

      @include respondTo(tablet-l) {
        grid-area: logo;
        margin-top: 0;
        width: 200px;
      }
    }

    .copyright {
      color: $color-text-light;
      margin-top: 4rem;

      @include respondTo(tablet-l) {
        grid-area: c;
      }
    }
  } // __inner
}
