main {
  padding-top: $header-sm;

  @include respondTo(md) {
    padding-top: $header-md;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 $gutter-sm;

  @include respondTo(md) {
    padding: 0 $gutter-lg;
  }
}
