header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-sm;
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  transition: background-color 0.5s;

  z-index: $z-index-header;

  @include respondTo(tablet-l) {
    height: $header-md;
  }

  .header__container {
    position: relative;
    width: 100%;
    padding: 0 $gutter-sm;

    @include respondTo(tablet-l) {
      padding: 0 $gutter-lg;
    }

    h1.logo {
      position: absolute;
      left: $gutter-sm;
      top: 50%;
      transform: translateY(-50%);
      z-index: $z-index-header;

      @include respondTo(tablet-l) {
        left: $gutter-lg;
      }

      a {
        width: 100%;
        padding: 6px 4px 2px 0;

        @include respondTo(tablet-l) {
          padding: 12px 6px 2px 0;
        }

        img {
          width: 94px;

          @include respondTo(tablet-l) {
            width: 148px;
          }
        }
      }
    }
  }
}
