header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-sm;
  display: flex;
  align-items: center;
  backdrop-filter: blur(4px);
  background-color: #ffffff50;

  transition: all 0.3s;

  z-index: $z-index-header;

  &:hover {
    background-color: #ffffff;
  }

  @include respondTo(md) {
    height: $header-md;
  }

  h1.logo {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 94px;
    height: 24px;
    z-index: $z-index-header;

    @include respondTo(md) {
      left: 0;
      width: 148px;
      height: 38px;
    }

    img {
      width: 100%;
    }
  }
}
