header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-sm;
  display: flex;
  align-items: center;
  backdrop-filter: blur(6px);
  background-color: #f1f1f170;

  transition: all 0.3s;

  z-index: $z-index-header;

  &:hover {
    background-color: #f1f1f1;
  }

  @include respondTo(md) {
    height: $header-md;
  }

  h1.logo {
    position: absolute;
    left: $gutter-sm;
    top: 50%;
    transform: translateY(-50%);
    z-index: $z-index-header;

    @include respondTo(md) {
      left: $gutter-lg;
    }

    a {
      width: 100%;
      padding: 6px 4px 2px 0;

      @include respondTo(md) {
        padding: 12px 6px 2px 0;
      }

      img {
        width: 94px;
        // height: 24px;

        @include respondTo(md) {
          width: 148px;
          // height: 38px;
        }
      }
    }
  }
}
