@use "@styles/base/variables.scss" as *;
@use "@styles/base/mixins.scss" as *;

.FeatureCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: min(2.8vw, 45px);
  margin-top: $spacing-layout-sm;

  @include respondTo(tablet-l) {
    grid-template-columns: repeat(4, 1fr);
    margin-top: $spacing-layout-lg;
  }
  @include respondTo(pc-s) {
    gap: min(3.2vw, 60px);
  }

  .features-item {
    background-color: var(--color-point);
    padding: $spacing-xs;
    padding: min(2vw, 24px);

    @include respondTo(pc-s) {
      padding: min(2.4vw, 36px);
    }

    .icon-box {
      position: relative;
      text-align: center;
      background-color: #fff;
      align-content: center;
      padding: 1em;

      &::after {
        @include triangle(#fff, 10px, "bottom");
        position: absolute;
        left: 50%;
        top: 100%;
        content: "";
        transform: translateX(-50%);
      }

      img {
        filter: var(--filter);
        @include square(3.6em);
      }

      p {
        margin-top: 0.3em;
        color: var(--color-point);
        font-weight: 700;
        line-height: 1.2;
      }
    }

    .txt-list {
      margin: 1.98em 0.5em 0.4em;
      height: max-content;

      @include respondTo(pc-s) {
        margin: 2.4em 0.2em 0.2em;
      }

      li {
        margin-top: 0.3em;
        color: #fff;

        &::before {
          background-color: #fff;
        }

        @include respondTo(tablet-s) {
          margin-top: 0.5em;
        }
      }
    }
  }
}
