// 특징 아이콘 리스트
.CircleIconList {
  @include flexBox(row, 6vw, stretch, space-evenly, wrap);
  margin: 20px 30px;

  @include respondTo(tablet-s) {
    flex-wrap: nowrap;
    gap: 4%;
    justify-content: space-between;
  }
  @include respondTo(tablet-l) {
    margin: $spacing-content-md;
  }
  @include respondTo(pc-l) {
    margin: $spacing-content-xl calc((102px / 1392px) * 100%);
    gap: 45px;
  }

  .features-item {
    flex: 25% 0 1;
    text-align: center;

    @include respondTo(tablet-s) {
      flex: 14% 0 1;
    }

    .icon-box {
      aspect-ratio: 1;
      background-color: var(--color-point-background);
      border-radius: 50%;
      align-content: center;

      svg {
        width: 80%;
        height: 80%;
      }
    }
    p {
      margin: $spacing-content-xs 1em 0;

      @include respondTo(tablet-l) {
        margin: $spacing-content-sm 1.3em 0;
        font-size: $font-size-lg;
      }
    }
  }
}
