.ExpandableVideoBlock {
  @include flexBox(column, 4.2rem);

  @include respondTo(pc-s) {
    gap: 9rem;
  }

  .videoItem {
    @include respondTo(tablet-l) {
      @include flexBox(row, 4.8rem, center);
    }

    &:nth-child(even) {
      @include respondTo(tablet-l) {
        .video-box {
          order: 2;
        }
      }
    }

    .video-box {
      position: relative;
      overflow: hidden;
      border-radius: $radius-card;
      aspect-ratio: 16 / 9;
      cursor: pointer;
      width: 45%;

      video {
        height: 100%;
      }

      svg {
        @include square(8.2rem);
        @include positionCenter();
      }

      .close-btn {
        position: absolute;
        right: 16px;
        top: 16px;
        @include square(3.2rem);
        border-radius: 50%;
        background-color: #ffffff;

        &:hover {
          color: #fff;
          background-color: #ffffff70;
        }
      }
    }

    .text-box {
      @include flexBox(column, $gutter-sm);
      margin: $gutter-sm 8px 0;

      @include respondTo(tablet-s) {
        margin-top: 22px;
      }

      @include respondTo(tablet-l) {
        gap: 3rem;
        margin-top: 22px;
        width: calc(55% - 4.8rem);
      }

      .title {
        display: inline-block;
        font-size: $font-size-con-title-sm;

        @include respondTo(tablet-l) {
          font-size: $font-size-con-title-md;
        }
      }

      .desc {
        @include flexBox(column, 1rem);

        .desc__p {
          line-height: 150%;
        }
      }
    }

    .bullets {
      margin-top: -0.6em;

      li {
        margin-top: 0.4em;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
