.Modal {
  padding: 5vh 4px;
  backdrop-filter: blur(4px);

  @include respondTo(tablet-l) {
    padding-top: 4vh;
    padding-bottom: 5vh;
  }

  .Modal__content-wrap {
    $PADDING_SM: 1rem;
    $PADDING_MD: 1.6rem;

    position: relative;
    height: 100%;
    max-width: 1440px;
    background-color: #fff;
    border-radius: $radius-card-md;
    overflow: hidden;

    .Modal__content {
      overflow-y: scroll;
      height: 100%;
      padding: $PADDING_SM $PADDING_SM 6.4rem;
      // padding: $PADDING_SM;

      @include respondTo(tablet-l) {
        // padding: $PADDING_MD $PADDING_MD 8.2rem;
        padding: $PADDING_MD;
      }
    }

    .Modal__close {
      position: absolute;
      left: 50%;
      bottom: $PADDING_SM;
      transform: translateX(-50%);
      width: calc(100% - $PADDING_SM * 2);
      line-height: 4.4rem;
      border-radius: $radius-md;
      border: 1px solid $color-active;
      box-shadow: $floating-shadow;

      transition: all 0.3s;

      @include respondTo(tablet-s) {
        left: auto;
        bottom: auto;
        transform: none;
        right: 1rem;
        right: 2rem;
        top: $PADDING_SM;
        width: 7rem;
        line-height: 5rem;
        // width: calc(100% - $PADDING_MD * 2);
      }

      &:hover,
      &:focus {
        color: $color-red;
        border-color: $color-red;
        background-color: #fff;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 1px $color-red;
      }
    }
  } // .Modal__content-container
} // Modal
