.Modal {
  padding: 4vh 4px;

  @include respondTo(md) {
    padding-bottom: 5vh;
  }

  .Modal__content-wrap {
    $PADDING_SM: 1rem;
    $PADDING_MD: 1.6rem;

    position: relative;
    height: 100%;
    max-width: 1440px;
    background-color: #fff;
    border-radius: $radius-card-md;
    overflow: hidden;

    .Modal__content {
      overflow-y: scroll;
      height: 100%;
      padding: $PADDING_SM $PADDING_SM 6.4rem;

      @include respondTo(md) {
        padding: $PADDING_MD $PADDING_MD 8.2rem;
      }
    }

    .Modal__close {
      position: absolute;
      left: 50%;
      bottom: $PADDING_SM;
      transform: translateX(-50%);
      width: calc(100% - $PADDING_SM * 2);
      line-height: 4.4rem;
      border-radius: $radius-md;
      border: 1px solid $color-active;
      box-shadow: $floating-shadow;

      transition: all 0.3s;

      @include respondTo(sm) {
        line-height: 5rem;
      }

      @include respondTo(md) {
        bottom: $PADDING_MD;
        width: calc(100% - $PADDING_MD * 2);
      }

      &:hover {
        color: $color-red;
        border-color: $color-red;
        background-color: #fff;
      }
    }
  } // .Modal__content-container
} // Modal
