.PageHeading {
  position: relative;
  aspect-ratio: 16 / 9;

  @include respondTo(tablet-s) {
    height: 400px;
    aspect-ratio: auto;
  }

  @include respondTo(tablet-l) {
    height: 520px;
  }

  &__background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $radius-lg;
    overflow: hidden;

    &::before {
      @include pseudoDefault(#00000030);
    }

    .background-img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }

    .background-video {
      width: 100%;

      source {
        display: block;
      }
    }
  }

  .page__text-box {
    position: absolute;
    left: 3.4rem;
    bottom: 2.8rem;

    @include respondTo(tablet-l) {
      left: 4.4rem;
      bottom: 3.6rem;
    }

    .page__title {
      color: #fff;
      font-size: $font-size-display-xs;
      text-shadow: $text-shadow;

      @include respondTo(tablet-s) {
        font-size: $font-size-display-md;
      }

      @include respondTo(tablet-l) {
        font-size: $font-size-display-lg;
        // font-size: 8rem;
      }
    }
  }
}
