.ScrollTopBtn {
  $COLOR: $color-blue-800;
  $ACTION: red;

  position: fixed;
  bottom: 2rem;
  right: 1.6rem;
  z-index: $z-index-floating;

  @include respondTo(md) {
    bottom: 3.6rem;
    right: 2.4rem;
  }

  button {
    @include flexBox(column, 1rem);
    position: relative;
    overflow: hidden;
    padding: 1.2rem;
    transition: all 0.3s;

    background-color: $COLOR;
    border: 1px solid $COLOR;

    @include respondTo(sm) {
      gap: 1.6rem;
      padding: 2rem 16px;
    }

    &:hover,
    &.active {
      svg {
        fill: $COLOR;
      }

      .text {
        color: $COLOR;
      }

      .effect {
        @include square(300px);
      }
    }

    svg,
    .text {
      z-index: 10;
    }

    svg,
    .text .effect {
      transition: all 0.4s ease-in-out;
    }

    svg {
      fill: #fff;
    }

    .text {
      writing-mode: vertical-lr;
      text-orientation: upright;
      font-size: $font-size-xs;
      color: #fff;

      @include respondTo(sm) {
        font-size: 1em;
      }
    }

    .effect {
      @include pseudoDefault(#fff);
      left: 50%;
      @include square(0);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      transition: all 0.4s ease-in-out;
    }
  }
}
