.StepFlow {
  .flow-wrapper {
    @include flexBox(column, 1.6em 0, center, space-between, wrap);
    background: #fff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);

    @include respondTo(tablet-s) {
      flex-direction: row;
    }

    @include respondTo(tablet-l) {
      flex-wrap: nowrap;
    }

    .step {
      text-align: center;
      width: 18vw;
      position: relative;

      svg {
        width: 60px;
        height: 60px;
        fill: #2b6cb0;
        animation: pulse 2s infinite;
      }
      .step-title {
        font-weight: 600;
        margin-top: 10px;
        font-size: 1.8rem;
      }
      .step-sub {
        margin-top: 4px;
        font-size: 1.3rem;
        color: $color-text-light;
      }
    }

    .arrow-right {
      font-size: 32px;
      margin: 0 20px;
      color: #aaa;
      animation: slideDown 1.5s infinite;

      @keyframes slideDown {
        0% {
          transform: rotate(90deg) translateX(0);
          opacity: 0.3;
        }
        50% {
          transform: rotate(90deg) translateX(6px);
          opacity: 1;
        }
        100% {
          transform: rotate(90deg) translateX(0);
          opacity: 0.3;
        }
      }

      @include respondTo(tablet-s) {
        animation: slideRight 1.5s infinite;
      }
    }
  }
}
