.TabMenu {
  position: sticky;
  top: $header-sm + 2px;
  margin-top: 20px;
  z-index: $z-index-floating;

  @include respondTo(tablet-l) {
    top: $header-md + 2px;
    margin-top: 24px;
  }

  .TabMenu__box {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    overflow-x: auto;
    padding: 4px;
    background-color: $color-background-light;
    border-radius: $radius-md;

    @include respondTo(tablet-s) {
      gap: $gutter-lg;
      justify-content: space-around;
      padding: 6px $gutter-lg;
    }

    @include respondTo(tablet-l) {
      flex-wrap: nowrap;
    }

    .TabMenu__item {
      white-space: nowrap;
      border-radius: $radius-md;
      padding: 8px 12px;
      flex: 20%;

      transition: all 0.3s;

      @include respondTo(tablet-s) {
        padding: 12px 20px;
      }

      @include respondTo(tablet-l) {
        flex: 1;
      }

      &:hover,
      &:focus {
        background-color: #ffffff90;

        .TabMenu__label {
          transform: scale(1.24);
          color: $color-active;
          font-weight: $weight-semiBold;
        }
      }

      &.active {
        background-color: $color-active;

        .TabMenu__label {
          transform: scale(1);
          color: #fff;
          font-weight: inherit;
        }
      }

      .TabMenu__label {
        display: inline-block;
        transition: all 0.3s;
        font-weight: inherit;

        @include respondTo(pc-s) {
          font-size: calc(1em + 2px);
        }
      }
    }
  }
}
