.TabMenu {
  margin-top: 20px;
  @include respondTo(sm) {
    margin-top: 24px;
  }

  .TabMenu__box {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    overflow-x: auto;
    padding: 4px;
    background-color: $color-background;
    border-radius: $radius-md;

    @include respondTo(sm) {
      gap: $gutter-lg;
      justify-content: space-around;
      padding: 6px $gutter-lg;
    }

    @include respondTo(md) {
      flex-wrap: nowrap;
    }

    .TabMenu__item {
      white-space: nowrap;
      border-radius: $radius-md;
      padding: 8px 12px;
      flex: 20%;

      transition: all 0.3s;

      @include respondTo(sm) {
        // flex: 25%;
        padding: 12px 20px;
      }

      @include respondTo(md) {
        flex: 1;
      }

      &:hover {
        background-color: #ffffff90;

        .TabMenu__label {
          transform: scale(1.24);
          color: $color-active;
          font-weight: $weight-semiBold;
        }
      }

      &.active {
        background-color: $color-active;

        .TabMenu__label {
          transform: scale(1);
          color: #fff;
          font-weight: inherit;
        }
      }

      .TabMenu__label {
        display: inline-block;
        transition: all 0.3s;
        font-size: 1em;
        font-weight: inherit;
      }
    }
  }
}
