.VideoPreviewPlayer {
  .video-box {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #000;
    border-radius: $radius-card;
    cursor: pointer;

    video {
      height: 100%;
      object-fit: cover;
    }

    svg {
      @include square(8.2rem);
      @include positionCenter();
    }

    .close-btn {
      position: absolute;
      right: 16px;
      top: 16px;
      @include square(3.2rem);
      border-radius: 50%;
      background-color: #ffffff;

      &:hover {
        color: #fff;
        background-color: #ffffff70;
      }
    }
  }
}
