// 자동화 솔루션 페이지
.Automation {
  .AutomationVideos {
    .short {
      @include flexBox(column, min(2rem, 80px), stretch, space-between);
      padding: min(2rem, 80px) 0 1.2rem;
      margin-top: min(10vw, 74px);

      @include respondTo(tablet-s) {
        margin-top: min(8vw, 74px);
        flex-direction: row;
      }

      .short_l,
      .short_r {
        width: 100%;
        // align-content: center;

        @include respondTo(tablet-s) {
          width: 50%;
        }
      }

      .short_l {
        .video {
          overflow: hidden;
          display: block;
        }
      }

      .short_r {
        container-type: inline-size;

        .texts {
          border-bottom: 1px solid $color-border;

          h3 {
            margin-bottom: 13px;
            padding: 12px 0;
            font-size: $font-size-con-title-xs;
            font-weight: 700;
            color: #333;

            @include respondTo(tablet-l) {
              font-size: 2.5rem;
            }
          }

          p {
            margin-bottom: min(1.2rem, 40px);
            padding: 0 6px;
            color: $color-gray-700;
            font-size: var(--font-responsive-17to13);
            line-height: 1.8;
          }
        }

        .effect-list {
          @include flexBox(row, 5vw, stretch, space-between, wrap);
          padding: 20px 4vw 0;
          text-align: center;
          font-size: var(--font-responsive-15to12);

          @include respondTo(mobile-l) {
            flex-wrap: nowrap;
          }
          @include respondTo(tablet-s) {
            gap: 1vw;
            padding: 20px 1vw 0;
          }
          @include respondTo(tablet-l) {
            padding: $spacing-content-md;
          }
          @include respondTo(pc-l) {
            padding: 30px calc((102px / 1392px) * 100%);
            gap: 40px;
          }

          li {
            flex: 47% 0 1;

            display: flex;
            align-items: center;

            @include respondTo(mobile-l) {
              flex: 23% 0 1;
              display: block;
            }
          }

          .icon-box {
            flex: 40%;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            align-content: center;
            background-color: rgb(68, 180, 236);

            @include respondTo(mobile-l) {
              margin: 0 12px 12px;
            }

            img {
              width: 70%;
              height: 70%;
              filter: $filter-white;
            }
          }

          p {
            flex: 60%;
            color: #333;
            margin-left: 0.6em;
            font-size: calc(1em - 2px);

            @include respondTo(mobile-l) {
              margin: 0;
            }
          }
        }
      } // short_r
    }
  }

  .app-section-wrap {
    margin-top: min(10.4vw, 74px);
    padding: min(10.4vw, 74px) 0;
    color: #fff;
    background-color: $color-background-dark;

    @include respondTo(tablet-s) {
      margin-top: min(13vw, 240px);
      padding: min(13vw, 140px) 0;
    }

    .ApplicationsSection {
      margin-top: 0;
      .cnt-title {
        margin-top: 0;
        margin-bottom: min(10.4vw, 74px);

        @include respondTo(tablet-s) {
          margin-bottom: min(10vw, 100px);
        }
      }

      .app__item {
        @include flexBox(row, 0, stretch, space-between, wrap);
        margin-top: min(10.4vw, 74px);

        @include respondTo(tablet-s) {
          margin-top: min(9vw, 96px);

          &:nth-child(even) {
            .img-box {
              order: 2;
            }
          }
        }

        .img-box {
          overflow: hidden;
          width: 100%;
          border-radius: $radius-card-lg;
          aspect-ratio: 75 / 42;

          @include respondTo(tablet-s) {
            width: 42%;
          }

          img {
            border-radius: $radius-card-lg;
            height: 100%;
            object-fit: cover;
          }
        }

        .con-box {
          margin-top: $spacing-lg;
          align-content: center;

          @include respondTo(tablet-s) {
            margin-top: 0;
            width: 46%;
          }

          h4 {
            font-size: $font-size-con-title-sm;

            @include respondTo(pc-s) {
              font-size: $font-size-con-title-md;
            }

            span {
              display: block;
            }
          }

          .bullets {
            margin-top: 1.5em;
            .bullet {
              margin: 0.5em 0;
            }
          }
        }
      }
    }
  }
}
