@use "sass:color";

// 비전 솔루션 페이지
.Logistics {
  $gap-lg: min(6vw, 60px);
  $gap-md: min(4.6vw, 56px);
  $gap-sm: min(2.6vw, 30px);

  video {
    width: 100%;
  }

  .bg-section-light {
    @include fullBackground(var(--color-point-background));
    padding: $gap-lg 0 $gap-lg 0;
    margin-top: $gap-lg;
    margin-bottom: $gap-lg;
  }

  // 각 섹션 나누기 배너
  .SectionBanner {
    height: 34vw;
    max-height: 345px;
    color: #fff;
    background-position: center;
    background-size: cover;
    padding: 5vw;

    .text-box {
      height: 100%;
      align-content: center;

      .title1 {
        font-weight: 600;
        font-size: 1.2em;

        @include respondTo(tablet-s) {
          font-size: min(3vw, 40px);
        }
      }

      .title2 {
        margin-top: min(2vw, 20px);
        width: 59%;
        font-size: 1em;
        @include respondTo(tablet-s) {
          width: 40%;
          font-size: min(2.2vw, 1.4em);
        }

        @include respondTo(tablet-l) {
          width: min(49vw, 640px);
        }
      }
    }
  }

  // 로지스틱 소개
  .IntroSection {
    .cnt02 {
      background-color: #dbf3fc;
    }
  }

  // 스마트 공장
  .FactorySection {
    .grid-block {
      &__item {
        overflow: hidden;
        background-color: #fff;
      }

      &__thumb {
        aspect-ratio: auto;
      }

      &__list {
        display: grid;
        justify-content: center;
        grid-auto-columns: max-content;
        padding: 8px 12px 11px;
        border: 1px solid var(--color-point);
        background-color: var(--color-point-background);
        border-radius: $radius-card-md;

        li {
          color: var(--color-point);
        }
      }
    }
  }

  .WarehouseSection {
    .cnt02 {
      .grid-block {
        @include respondTo(pc-s) {
          gap: 100px;
        }

        &__item {
          &:hover {
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
            transform: translateY(-4px);
            transition: all 0.3s ease;
          }

          &:nth-of-type(1),
          &:nth-of-type(2) {
            position: relative;

            &::after {
              @include pseudoDefault(rgba(0, 0, 0, 0), 40px);
              top: 50%;
              left: calc(100% + 30px);
              background-image: url("@components/icons/icon_chevron_double.svg");
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
            }
          }
        }
      }
    }
  }
}
