@use "sass:color";

// 비전 솔루션 페이지
.Logistics {
  $gap-lg: min(6vw, 60px);
  $gap-md: min(4.6vw, 56px);
  $gap-sm: min(2.6vw, 30px);

  video {
    width: 100%;
  }

  // 헬퍼
  .bg-section-light {
    @include fullBackground(var(--theme-point-background));
  }

  .bg-section--py-lg {
    padding: $gap-lg 0 $gap-lg 0;
    margin-top: $gap-lg;
    margin-bottom: $gap-lg;
  }

  .cnt-title {
    margin-bottom: $gap-sm;
  }

  .cnt-desc {
    text-align: center;
    margin-bottom: $gap-sm;
  }

  // 컴포넌트
  // 각 섹션 나누기 배너
  .SectionBanner {
    height: 34vw;
    max-height: 345px;
    color: #fff;
    background-position: center;
    background-size: cover;
    padding: 5vw;

    .text-box {
      height: 100%;
      align-content: center;

      .title1 {
        font-weight: 600;
        font-size: 1.2em;

        @include respondTo(tablet-s) {
          font-size: min(3vw, 40px);
        }
      }

      .title2 {
        margin-top: min(2vw, 20px);
        width: 59%;
        font-size: 1em;
        @include respondTo(tablet-s) {
          width: 40%;
          font-size: min(2.2vw, 1.4em);
        }

        @include respondTo(tablet-l) {
          width: min(49vw, 640px);
        }
      }
    }
  }

  .CalloutBox {
    padding: $spacing-content-sm;
    background-color: #fff;
    border-radius: $radius-card-md;
    text-align: center;
    border: 1px solid var(--theme-point);

    @include respondTo(tablet-l) {
      // font-size: 1.4em;
    }

    &__title {
      color: #1a2f67;
      font-size: 1.2em;
    }

    &__desc {
      margin-top: min(2vw, 20px);
      margin-bottom: min(2vw, 20px);
    }

    &__actions {
      @include flexBox(row, min(0.8vw, 12px), stretch, center);

      li {
        color: var(--color-point);
        // font-size: 1.1em;
        background-color: var(--theme-point-background);
        border-radius: 8px;
        padding: 8px 12px;
        align-content: center;
      }
    }
  }

  // 로지스틱 소개
  .IntroSection {
    .cnt02 {
      background-color: #dbf3fc;
    }
  }

  // 스마트 공장
  .FactorySection {
    .grid-block {
      &__item {
        overflow: hidden;
        background-color: #fff;
      }

      &__thumb {
        aspect-ratio: auto;
      }

      &__list {
        padding: 11px 12px;
        border: 1px solid var(--theme-point);
        background-color: var(--theme-point-background);
        border-radius: $radius-card-md;

        li {
          color: var(--theme-point);
        }
      }
    }
  }

  .WarehouseSection {
    .cnt02 {
      .grid-block {
        @include respondTo(pc-s) {
          gap: 100px;
        }

        &__item {
          &:hover {
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
            transform: translateY(-4px);
            transition: all 0.3s ease;
          }

          @include respondTo(pc-s) {
            &:nth-of-type(1),
            &:nth-of-type(2) {
              position: relative;

              &::after {
                @include pseudoDefault(rgba(0, 0, 0, 0), 40px);
                top: 50%;
                left: calc(100% + 30px);
                background-image: url("@components/icons/icon_chevron_double.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
              }
            }
          }
        }
      }
    }
  }
}
