// Eco 솔루션 페이지
.EcoAI {
  $green: #3ec684;

  .sec-title {
    margin-bottom: min(9.4vw, 60px);
    font-size: 3rem;
    text-align: center;

    @include respondTo(tablet-l) {
      font-size: $font-size-section-title-lg;
    }
  }

  .cnt-title {
    margin-bottom: min(5vw, 50px);
  }

  #intro {
    font-size: 1.7rem;

    @include respondTo(tablet-l) {
      font-size: 2rem;
    }

    p {
      @include respondTo(tablet-l) {
        line-height: 1.5;
      }
    }

    .cnt02 {
      img {
        margin-bottom: min(4vw, 40px);
      }

      dl {
        margin: min(4vw, 40px) auto;
        line-height: 1.3;

        dt {
          font-weight: 600;
        }
        dd {
          margin-top: 0.3em;
          color: $color-text-body;
        }

        .dl-item {
          &:first-child {
            color: $color-blue-500;
          }

          &:last-child {
            margin-top: 1em;
            color: $green;
          }
        }
      }
    }
  } // 에코 솔루션 인트로

  .CleaningRobotSection {
    .space-m {
      margin-top: 4rem;

      @include respondTo(tablet-l) {
        margin-top: 6rem;
      }
    }

    .space-l {
      margin-top: 5rem;

      @include respondTo(tablet-l) {
        margin-top: 8rem;
      }
    }

    .cnt-title {
      margin-top: 7rem;

      @include respondTo(tablet-l) {
        margin-top: min(12vw, 140px);
      }
    }

    .cnt01 {
      img {
        display: block;
      }
    }

    .cnt02 {
      .flex-box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 3vw;

        @include respondTo(tablet-l) {
          flex-wrap: nowrap;
        }

        img {
          width: auto;
          max-width: 100%;
          border-radius: 0;
          padding: 0 50px;

          @include respondTo(tablet-l) {
            max-width: 50%;
            padding: 0 50px;

            &:last-child {
              border-left: 1px solid $color-blue-300;
            }
          }
        }
      }
      .HorizontalCardSlider {
        .swiper-slide {
          aspect-ratio: 10 / 7;
          img {
            height: 100%;
            object-fit: cover;
            border-radius: $radius-card-md;
          }
        }
      }
    }

    .cnt05 {
      .flex-container {
        justify-content: space-between;

        img {
          display: block;
          width: 49%;
          border-radius: $radius-card-md;
        }
      }

      .bullets-box {
        p {
          font-size: 1.4em;
          font-weight: 600;
        }

        .dl-item {
          display: flex;
          gap: 0.3em;

          margin-top: 0.5em;
        }
      }
    }

    .cnt06 {
      .flex-container {
        justify-content: space-between;
        flex-wrap: wrap;

        .flex-l {
          width: 80%;
          margin: 0 auto 2em;

          @include respondTo(tablet-s) {
            width: 43%;
            margin: 0;
            min-width: 320px;
          }

          img {
            object-fit: cover;
            height: 100%;
          }
        }

        .flex-r {
          @include flexBox(column, auto, stretch, center);
          width: 100%;

          @include respondTo(tablet-s) {
            width: 50%;
            min-width: 400px;
          }

          .dl-item {
            padding: 18px 28px 18px 30px;
            margin-top: 0.8em;
            color: #fff;
            background-color: $color-blue-500;
            border-radius: $radius-card-md;

            @include respondTo(tablet-s) {
              border-radius: 1000px;
              padding: 28px 50px;
              margin-top: 1.6vw;
            }

            &:first-child {
              margin-top: 0;
            }

            dt {
              font-size: 1.1em;
            }

            dd {
              margin-top: 0.5em;
              font-size: 0.9em;

              &::before {
                background-color: #fff;
              }
            }
          }
        }
      }
    }

    .cnt07 {
      display: flex;
      &-0 {
        margin-bottom: min(9.4vw, 60px);
      }

      ul {
        max-width: 1000px;
        margin: 1.2em 1em 0;
        @include flexBox(row, 0.8em, stretch, space-between, wrap);

        @include respondTo(tablet-s) {
          column-gap: 0;
          margin: 2em auto 0;
        }

        li {
          display: flex;
          width: 100%;

          @include respondTo(tablet-s) {
            width: 45%;
          }

          span {
            display: block;
            flex: 28px 0 0;
            height: 28px;
            border-radius: 50%;
            background-color: #fcc604;
            color: #fff;
            text-align: center;
            align-content: center;
            font-size: 0.9em;

            @include respondTo(tablet-s) {
              flex: 40px 0 0;
              height: 40px;
              font-size: 1.2em;
            }
          }

          p {
            flex: 1;
            margin: 0.4em 0.5em 0 0.5em;
          }
        }
      }
    }
  } // 클리닝 로봇

  .RecyclingRobotSection {
    .cnt01 {
      img {
        margin-top: 1em;
      }
    }
    .cnt02 {
      .line-box {
        padding: 3vw;
        border: 3px solid $green;

        .flex-container {
          justify-content: space-around;
        }
        img {
          width: 30%;
          border-radius: $radius-card-md;

          @include respondTo(tablet-s) {
            border-radius: $radius-card-lg;
          }
        }
      }

      .pill-list {
        .flex-container {
          margin-top: 30px;

          .flex-title,
          .flex-texts {
            width: 50%;
          }

          .flex-title {
            width: 30%;

            @include respondTo(tablet-s) {
              width: 50%;
              // width: calc(50% - 1em);
            }

            .inner {
              width: 100%;
              height: 100%;
              padding: 0 2em;
              color: #fff;
              margin-left: auto;
              text-align: right;
              align-content: center;
              border-radius: 1000px 0 0 1000px;
              background-color: $green;
              font-size: calc(1em + 2px);

              @include respondTo(tablet-l) {
                width: 50%;
              }
            }
          }

          .flex-texts {
            padding: 0 1em;
            width: 70%;

            @include respondTo(tablet-s) {
              width: 50%;
              // width: calc(50% + 1em);
            }

            .text {
              margin-top: 0.2em;
              padding-left: 0.8em;
              border-width: 0 0 0 2px;
              border-color: $green;
              border-style: solid;
            }
          }

          &:nth-child(even) {
            .flex-title {
              order: 2;
              .inner {
                margin-right: auto;
                margin-left: 0;
                text-align: left;
                border-radius: 0 1000px 1000px 0;
              }
            }

            .flex-texts {
              .text {
                padding-right: 0.8em;
                text-align: right;
                border-width: 0 2px 0 0;
              }
            }
          }
        }
      }
    } // cnt02

    .cnt03 {
      .flex-container {
        @include flexBox(row, 0, center, space-between);

        .flex-l,
        .flex-r {
          width: 43%;
          text-align: center;
          @include respondTo(tablet-s) {
            width: 45%;
          }
        }

        .flex-c {
          width: 10%;
          text-align: center;
        }
      }

      .head {
        margin-bottom: 20px;
        @include respondTo(tablet-l) {
          margin-bottom: 50px;
        }

        img {
          display: inline;
          border-radius: $radius-card-md;
          margin-bottom: 0.5em;
          border-width: 5px;
          border-style: solid;

          @include respondTo(pc-s) {
            width: 86%;
          }
        }

        .vs {
          font-size: min(4.4vw, 60px);
          font-weight: 900;
          color: #ea8b22;
        }

        p {
          font-weight: 600;
          font-size: calc(1em + 2px);
          @include respondTo(pc-s) {
            font-size: 25px;
          }
        }

        .flex-l {
          img {
            border-color: $color-gray-700;
          }
          p {
            color: $color-gray-700;
          }
        }
        .flex-r {
          img {
            border-color: $green;
          }
          p {
            color: $green;
          }
        }
      }

      .chart-item {
        width: 100%;
        margin-top: 10px;
        @include flexBox(row, 0, center, space-between);
        @include respondTo(tablet-l) {
          margin-top: 20px;
        }

        .chart-bar {
          position: relative;
          height: 50px;
          background-color: $color-gray-050;
          border-radius: 8px;

          span {
            display: block;
            height: 100%;
            border-radius: 8px;
          }

          p {
            line-height: 50px;
            position: absolute;
            font-size: calc(1em - 2px);
          }

          &__1 {
            span {
              margin-left: auto;
              background-color: $color-gray-400;
            }
            p {
              right: 1em;
            }
          }

          &__2 {
            span {
              background-color: $green;
            }
            p {
              left: 1em;
            }
          }
        }
      }
    }

    .cnt04 {
      img {
        display: block;
      }

      .grid-block {
        margin-top: min(4.4vw, 70px);

        &__item {
          overflow: hidden;
          border: 1px solid $color-border;
        }

        &__thumb {
          aspect-ratio: 1.618 / 1;
        }

        &__list {
          justify-content: start;
        }
      }
    }

    .cnt06-wapper {
      overflow: hidden;
    }

    .cnt06 {
      padding-top: min(13vw, 140px);
      padding-bottom: min(13vw, 140px);
      color: #fff;

      @include fullBackground($color-background-dark);

      h4 {
        position: relative;
      }

      .flex-container {
        flex-wrap: wrap;
        justify-content: space-between;

        .flex-l,
        .flex-r {
          width: 100%;

          @include respondTo(tablet-s) {
            width: 49%;
          }
        }
      }

      .swiper {
        .slide-item {
          border-radius: $radius-card-lg;
          background-color: $color-gray-500;
        }

        &-button-prev,
        &-button-next {
          &::after {
            content: "";
          }
        }
        &-button-prev {
          @include triangle($green, 20px, left);
        }
        &-button-next {
          @include triangle($green, 20px, right);
        }
      }

      // 01~06 리스트
      article {
        margin-top: min(12vw, 120px);
        @include respondTo(mobile-l) {
        }

        @include respondTo(tablet-s) {
          &:nth-child(2n + 1) .flex-l {
            order: 2;
          }
        }

        &:first-child {
          margin-top: 0;
        }

        .flex-l {
          overflow: hidden;
          border-radius: $radius-card-md;
          height: min(44vw, 440px);

          @include respondTo(tablet-l) {
            height: min(40vw, 520px);
          }

          .image {
            height: 100%;
            @include backgroundImage();

            @for $i from 1 to 7 {
              &.i#{$i} {
                background-image: url("@assets/images/solution/recycle-cnt5-#{$i}.jpg");
              }
            }
          }
        }

        .texts {
          margin-top: 20px;

          @include respondTo(tablet-l) {
            width: calc(100% / 16 * 7.5);
            // margin-top: min(30vw, 40px);
            margin-top: 0;
          }

          @include respondTo(pc-l) {
            padding: 0 1em;
          }

          .title {
            @include flexBox(row, 10px, center, center);

            @include respondTo(tablet-s) {
              font-size: min(2.4vw, 24px);
            }

            @include respondTo(mobile-l) {
              gap: 20px;
            }

            em {
              padding-top: 3px;
              color: $green;

              &::after {
                display: block;
                content: "";
                width: 100%;
                background-color: $green;
                height: 2px;
                margin-top: 3px;
                border-radius: 100px;
                @include respondTo(tablet-l) {
                  height: 3px;
                  margin-top: min(0.2rem, 5px);
                }
              }
            }
          }

          .bullets {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
            line-height: 1.6;

            li {
              width: 49%;
              @include respondTo(tablet-s) {
                font-size: 18px;
              }
              @include respondTo(tablet-l) {
                font-size: 20px;
              }
            }
          }

          img {
            margin-top: min(40vw, 40px);
            width: 96%;
          }

          p {
            font-size: 14px;
            margin-top: 20px;
            line-height: 1.5;

            @include respondTo(tablet-s) {
              font-size: 18px;
            }
          }
        }
      }
    } // cnt06
  } // 재활용 로봇
}
