.About {
  .intro-section,
  .RollingSwiper,
  .contact-section {
    margin-top: $spacing-layout-md;

    h3 {
      font-size: $font-size-section-title-sm;

      @include respondTo(tablet-s) {
        font-size: $font-size-section-title-lg;
      }
    }
  }

  .ValuesSection {
    margin-top: 2.4rem;
    padding-bottom: calc(86% * 2.4);

    @include respondTo(mobile-l) {
      padding-bottom: calc(50% * 2.4);
    }
    @include respondTo(tablet-s) {
      margin-top: 6rem;
      padding-bottom: calc((35% * 0.4));
    }

    .ValuesSection__inner {
      position: relative;
      width: 86%;
      aspect-ratio: 1 / 1;
      margin: 0 auto;
      align-content: center;

      @include respondTo(mobile-l) {
        width: 50%;
      }
      @include respondTo(tablet-s) {
        width: 35%;
      }

      h3 {
        text-align: center;
        font-size: $font-size-section-title-sm;

        @include respondTo(tablet-s) {
          font-size: $font-size-section-title-md;
        }
      }

      .circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        aspect-ratio: 1 /1;
        border: 1px solid $color-blue-500;
        border-radius: 50%;
        text-align: center;
        align-content: center;

        &--0 {
          top: 70%;
        }
        &--1 {
          top: 155%;
        }
        &--2 {
          top: 240%;
        }

        @include respondTo(tablet-s) {
          top: 40%;

          &--1 {
            left: -90%;
          }
          &--2 {
            left: 90%;
          }
        }

        @include respondTo(tablet-l) {
          align-content: normal;
        }

        .circle__inner {
          padding: 10%;

          @include respondTo(tablet-s) {
            padding: 15%;
          }

          @include respondTo(tablet-l) {
            padding: 23% 15% 0;
          }

          @include respondTo(pc-s) {
            padding: 26% 20%;
          }

          .icon {
            display: none;
            @include respondTo(tablet-l) {
              display: inline-block;
              width: 30%;
            }
          }

          h4 {
            margin-top: 1.2rem;
            font-size: $font-size-lg;
          }

          p {
            margin-top: 1.2rem;
            font-size: calc(1em - 2px);

            @include respondTo(tablet-s) {
              font-size: 1em;
            }
          }
        }
      }
    }
  } // ValuesSection

  .intro-section {
    @include respondTo(tablet-s) {
      width: 86%;
      margin: 20rem auto 0;
    }

    @include respondTo(pc-s) {
      width: 81.1rem;
      margin-left: calc((118px / 1392px) * 100%);
    }

    p {
      margin-top: 2.6rem;
      line-height: 1.5;

      br.pc-break {
        display: none;

        @include respondTo(tablet-l) {
          display: inline;
        }
      }
    }
  }

  .RollingSwiper {
    @include respondTo(tablet-s) {
      margin-top: 20rem;
    }

    .swiper-slide {
      width: calc((100% - 8px) / 2);
      @include respondTo(tablet-s) {
        width: calc((100% - 48px) / 3);
      }
      @include respondTo(pc-s) {
        width: calc((100% - 72px) / 4);
      }

      figure {
        .img-box {
          aspect-ratio: 10 / 7;
          background-color: #ddd;
          border-radius: $radius-card-md;
          overflow: hidden;

          @include respondTo(tablet-s) {
            border-radius: $radius-card-lg;
          }

          img {
            height: 100%;
            object-fit: cover;
          }
        }

        figcaption {
          color: $color-text-light;
          font-size: $font-size-caption;
          font-weight: 600;
          padding-left: 3%;

          @include respondTo(mobile-l) {
            font-size: 1em;
          }
          @include respondTo(tablet-s) {
            font-size: 1em;
          }
        }
      }
    }
  }

  .contact-section {
    @include respondTo(tablet-s) {
      margin-top: 16rem;
    }

    .flex-box {
      display: flex;
      justify-content: space-between;
      gap: 2.6rem;

      @include respondTo(tablet-s) {
        gap: 0;
        justify-content: center;
      }

      .flex-l {
        flex: 1;
        text-align: center;
        align-content: center;

        @include respondTo(tablet-s) {
          flex: 50%;
          padding-right: 10rem;
          text-align: right;
        }
      }

      .flex-r {
        flex: 3;

        @include respondTo(tablet-s) {
          flex: 50%;
        }

        li {
          margin-top: $spacing-sm;

          p {
            word-break: break-all;
            line-height: 1.4;
          }
        }
      }
    }

    .map-wrap {
      overflow: hidden;
      margin-top: 1.6rem;
      border-radius: $radius-card-lg;

      @include respondTo(tablet-s) {
        margin-top: $spacing-content-lg;
      }

      .Map {
        height: 310px;
        @include respondTo(tablet-s) {
          height: 500px;
        }
      }
    } // .map-wrap
  } // .contact-section
}
