@use "sass:color";

.BusinessLayout {
  // 넓은 margin
  .BusinessIntroSection,
  .desc,
  // .intro-img:nth-of-type(1),
  .applications,
  .ProductCatalog {
    margin-top: $spacing-layout-sm;

    @include respondTo(tablet-s) {
      margin-top: $spacing-layout-md;
    }

    @include respondTo(tablet-l) {
      margin-top: $spacing-layout-xl;
    }
  }

  .BusinessIntroSection {
    text-align: center;
    .title-area {
    }

    .title {
      position: relative;
      max-width: 66%;
      font-size: $font-size-display-sm;
      color: rgba(0, 0, 0, 0.2);
      background: linear-gradient(
          to right,
          $color-text-title,
          $color-text-title
        )
        no-repeat;
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 0%;

      @include respondTo(tablet-l) {
        font-size: $font-size-display-lg;
      }
    }

    .desc {
      font-size: 1.7rem;

      @include respondTo(tablet-l) {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        font-size: 2.5rem;
        line-height: 1.5;
      }
    }

    .intro-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: $radius-card-lg;

      @include respondTo(pc-l) {
        width: auto;
      }
      &.intro-img:nth-of-type(1) {
        margin-top: $spacing-md;
      }

      // &.border-dot {
      //   border-radius: $radius-card-lg;
      //   border: 4px dotted $color-point;
      // }

      &.small {
        width: 100%;
        max-width: 900px;
      }
    }

    // 특징 아이콘 리스트
    .features-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: $spacing-content-sm;
      margin: 20px 40px;

      @include respondTo(tablet-s) {
        grid-template-columns: repeat(6, 1fr);
      }
      @include respondTo(tablet-l) {
        margin: $spacing-content-xl 102px;
        gap: 4.5rem;
      }

      .features-item {
        // width: 200px;

        .icon-box {
          aspect-ratio: 1;
          background-color: $color-blue-050;
          border-radius: 50%;
          align-content: center;

          svg {
            width: 80%;
            height: 80%;
          }
        }
        p {
          margin-top: $spacing-content-sm;
          @include respondTo(tablet-l) {
            font-size: $font-size-lg;
          }
        }
      }
    }

    // 응용분야
    .applications-list {
      // @include flexBox(row, 2.4rem, stretch, space-between, wrap);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 4rem;

      .appItem {
        text-align: center;
        border: 1px solid $color-border;
        border-radius: $radius-card-lg;
        overflow: hidden;

        .img-box {
          border-bottom: 1px solid $color-border;
          overflow: hidden;
          aspect-ratio: 16 / 9;

          img {
            display: block;
          }
        }

        .text-box {
          padding: $spacing-content-sm;

          strong {
            font-size: $font-size-con-title-sm;
            @include respondTo(pc-s) {
            }
          }

          p {
            margin-top: $spacing-content-xs;
          }
        }
      }
    }
  } // BusinessIntroSection

  .ProductCatalog {
    position: relative;
    // &::before {
    //   @include fullContent();
    //   top: 18rem;
    //   content: "";
    //   height: 100%;
    //   background-color: $color-gray-050;
    // }
    // margin-top: $spacing-layout-sm;

    // @include respondTo(tablet-s) {
    //   margin-top: 20px;
    // }

    // @include respondTo(tablet-l) {
    //   margin-top: $spacing-layout-xl;
    // }

    .catalog__title-box {
      position: relative;
      // border-radius: $radius-card-lg;
      // border: 1px solid $color-border;
      // background-color: $color-blue-050;

      &::before {
        @include pseudoDefault();
        background: linear-gradient(
          to right,
          rgba(64, 153, 255, 0.3) 0%,
          rgba(4, 153, 255, 0.3) 50%,
          rgba(0, 0, 0, 0) 100%
        );
        @include fullContent();
        width: 100vw;
        z-index: 0;
      }

      .catalog__title {
        padding: 7rem 1rem 1rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 10;

        @include respondTo(tablet-l) {
          padding: 6rem 3rem;
        }

        span {
          display: block;
          font-size: $font-size-con-title-sm;
          &.s {
            color: $color-text-light;
            font-size: $font-size-section-title-lg;
          }

          @include respondTo(tablet-s) {
            font-size: $font-size-section-title-md;
          }

          @include respondTo(tablet-l) {
            &.s {
              font-size: $font-size-section-title-md;
            }
            &.l {
              font-size: $font-size-section-title-xl;
            }
          }
        }
      }
    }

    .flex-container {
      flex-direction: column;
      gap: 40px;
      margin-top: $spacing-layout-sm;

      @include respondTo(tablet-l) {
        flex-direction: row;
      }

      @include respondTo(pc-s) {
        gap: 60px;
      }

      .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $gutter-sm;

        @include respondTo(tablet-l) {
          flex: 6;
          grid-template-columns: repeat(4, 1fr);
          gap: $gutter-lg;
        }

        .ProductListItem {
          position: relative;
          padding: 14px 16px;
          border: 1px solid $color-border;
          border-radius: $radius-card-md;
          word-break: break-all;
          transition: all 0.3s ease;
          // background-color: #fff;

          @include respondTo(tablet-s) {
            padding: 20px 28px;
          }

          &:hover,
          &:focus {
            color: $color-active;
            border-color: $color-active;

            .subject span {
              background-image: url("@assets/images/icon/icon_add_white.svg");
              background-color: $color-active;
              transform: rotate(180deg);
              border: 1px solid $color-active;
            }
          }

          &:focus {
            outline: none;
            box-shadow: 0 0 0 1px $color-active;
          }

          .subject {
            display: flex;
            gap: 8px;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;

            .sb-txt {
              flex: 1;
              width: fit-content;
              text-align: left;
              font-size: $font-size-sm;
              font-weight: inherit;

              @include respondTo(tablet-l) {
                font-size: $font-size-md;
              }

              @include respondTo(pc-s) {
                font-size: $font-size-lg;
              }
            }

            .sb-icon {
              display: block;
              width: 2.8rem;
              height: 2.8rem;
              border-radius: 50%;
              background-image: url("@assets/images/icon/icon_add_blue.svg");
              background-repeat: no-repeat;
              background-position: center;
              border: 1px solid $color-border;

              transition: all 0.4s ease;

              @include respondTo(tablet-s) {
                width: 3.2rem;
                height: 3.2rem;
              }
            }
          }
        }
      }
    }
  } // ProductCatalog

  .CompactProductPage {
    .SubTabMenu {
      margin-bottom: 4rem;
      @include respondTo(tablet-s) {
        margin-top: 2rem;
        margin-bottom: 5rem;
      }
      @include respondTo(tablet-l) {
        flex-direction: row;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 7.2rem;
      }
    }
  } //CompactProductPage

  .ProductDetailView {
    .pd_flex {
      display: flex;
      flex-direction: column;
      gap: 40px;
      justify-content: space-between;

      @include respondTo(tablet-s) {
        flex-direction: row;
        justify-content: center;
      }

      @include respondTo(tablet-l) {
        gap: 60px;
      }

      .pd_left {
        flex: 1 1 49%;
        text-align: center;
        align-content: center;
        padding: 48px;
        background-color: $color-blue-050;
        border-radius: $radius-card;

        @include respondTo(tablet-l) {
          padding: 60px;
        }

        img {
          max-width: 480px;
        }
      }

      .pd_right {
        flex: 1 1 51%;
        align-content: center;

        @include respondTo(tablet-s) {
          padding: 5rem 0 2rem; // 모달창 닫기 버튼과 컨텐츠의 겹침 방지
        }

        .prod_name {
          font-size: $font-size-con-title-md;

          @include respondTo(tablet-s) {
            max-width: 520px;
            font-size: $font-size-con-title-lg;
          }
        }

        .prod_desc {
          .prod_desc__inner {
            margin-top: 2rem;

            @include respondTo(tablet-l) {
              margin-top: 2.8rem;
            }

            .prod_desc__title {
              color: $color-point;
              font-size: calc(1em + 0.4rem);
              margin-bottom: 1.2rem;
            }

            p,
            li {
              word-break: break-all;
              text-align: justify;
            }

            p {
              line-height: 1.5;

              &:nth-of-type(n + 2) {
                margin-top: 0.4rem;
              }
            }

            .bullets {
              li {
                position: relative;
                padding-left: 12px;
                line-height: 1.2;
                margin-top: 1rem;
                margin-left: 0.3rem;

                &::before {
                  @include pseudoDefault($color-text-body);
                  top: 0.7em;
                  width: 3px;
                  height: 3px;
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
    }

    .ProductInfoSection {
      position: relative;
      width: 100%;
      margin: 4rem auto 0;

      &.detail {
        max-width: 860px;
      }

      @include respondTo(tablet-l) {
        margin-top: 5.4rem;
      }

      h6 {
        font-size: $font-size-con-title-sm;
        font-weight: 600;

        @include respondTo(tablet-s) {
          font-size: $font-size-con-title-md;
        }

        @include respondTo(tablet-l) {
          font-size: $font-size-con-title-lg;
        }
      }

      span.copy-prevent {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
      }

      img {
        margin-top: 12px;

        @include respondTo(tablet-l) {
          margin-top: 16px;
        }
      }
    }
  } // ProductDetailView
} // BusinessLayout
