@use "sass:color";

.BusinessLayout {
  .BusinessIntroSection,
  .desc-box,
  .BusinessApplications,
  .ProductCatalog {
    margin-top: $spacing-layout-sm;

    @include respondTo(tablet-l) {
      margin-top: $spacing-layout-xl;
    }
  }

  .BusinessIntroSection {
    text-align: center;

    .desc-box {
      margin-bottom: $spacing-sm;

      @include respondTo(tablet-s) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
      }

      @include respondTo(tablet-l) {
        max-width: 1180px;
        margin-bottom: $spacing-layout-md;
      }
    }
    .desc {
      font-size: 1.7rem;
      // margin-top: 0.8em;

      @include respondTo(tablet-l) {
        font-size: 2.5rem;
        line-height: 1.5;
      }
    }

    .intro-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: $radius-card-lg;
      width: auto;
      max-width: 100%;

      // &.border-dot {
      //   border-radius: $radius-card-lg;
      //   border: 4px dotted $color-point;
      // }

      &.small {
        width: 100%;
        max-width: 900px;
      }
    }
  } // BusinessIntroSection

  // 강조 문구
  .QuoteArea {
    text-align: center;
    margin: $spacing-layout-md 10% 0;
    font-size: $font-size-display-sm;

    @include respondTo(tablet-l) {
      margin-top: 160px;
    }

    .quote-text {
      position: relative;
      display: inline-block;
      color: rgba(0, 0, 0, 0.2);
      background: linear-gradient(
          to right,
          $color-text-title,
          $color-text-title
        )
        no-repeat;
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 0%;

      @include respondTo(tablet-s) {
        font-size: $font-size-display-md;
      }
      @include respondTo(tablet-l) {
        font-size: $font-size-display-lg;
      }

      &::before,
      &::after {
        position: absolute;
        top: 0;
      }
      &::before {
        content: "“";
        right: 102%;
      }
      &::after {
        content: "”";
        left: 102%;
      }
    }
  }

  // 특징 아이콘 리스트
  .CircleIconList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    margin: 20px 30px;

    @include respondTo(tablet-s) {
      grid-template-columns: repeat(6, 1fr);
      gap: 4%;
    }
    @include respondTo(tablet-l) {
      margin: $spacing-content-md;
    }
    @include respondTo(pc-l) {
      margin: $spacing-content-xl 102px;
      gap: 45px;
    }

    .features-item {
      .icon-box {
        aspect-ratio: 1;
        background-color: var(--color-point-background);
        border-radius: 50%;
        align-content: center;
        text-align: center;

        svg {
          width: 80%;
          height: 80%;
        }
      }
      p {
        margin-top: $spacing-content-xs;
        @include respondTo(tablet-l) {
          margin-top: $spacing-content-sm;
          font-size: $font-size-lg;
        }
      }
    }
  }

  // 특징 카드리스트
  .FeatureCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: min(2.8vw, 45px);
    margin-top: $spacing-layout-sm;

    @include respondTo(tablet-l) {
      grid-template-columns: repeat(4, 1fr);
      margin-top: $spacing-layout-lg;
    }
    @include respondTo(pc-s) {
      gap: min(3.2vw, 60px);
    }

    .features-item {
      background-color: var(--color-point-01);
      padding: $spacing-xs;
      padding: min(2vw, 24px);

      @include respondTo(pc-s) {
        padding: min(2.4vw, 36px);
      }

      .icon-box {
        position: relative;
        text-align: center;
        background-color: #fff;
        align-content: center;
        padding: 1em;

        &::after {
          @include triangle(#fff, 10px, "bottom");
          position: absolute;
          left: 50%;
          top: 100%;
          content: "";
          transform: translateX(-50%);
        }

        img {
          fill: var(--color-point-01);
          @include square(3.6em);
        }

        p {
          margin-top: 0.3em;
          color: var(--color-point-02);
          font-weight: 700;
          line-height: 1.2;
        }
      }

      .txt-list {
        margin: 1.98em 0.5em 0.4em;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        height: max-content;
        // align-content: center;

        @include respondTo(pc-s) {
          margin: 2.4em 0.2em 0.2em;
        }

        li {
          margin-top: 0.3em;
          color: #fff;

          &::before {
            background-color: #fff;
          }

          @include respondTo(tablet-s) {
            margin-top: 0.5em;
          }
        }
      }
    }
  }

  .BusinessApplications {
    text-align: center;

    .sec-title {
      display: block;
      font-size: $font-size-section-title-sm;
      margin-bottom: $spacing-content-sm;

      @include respondTo(tablet-s) {
        font-size: $font-size-section-title-md;
        margin-bottom: $spacing-content-md;
      }

      @include respondTo(pc-s) {
        font-size: $font-size-section-title-lg;
        margin-bottom: $spacing-content-lg;
      }
    }

    .app-list {
      // @include flexBox(row, 2.4rem, stretch, space-between, wrap);
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.6rem;

      @include respondTo(tablet-s) {
        grid-template-columns: repeat(3, 1fr);
      }
      @include respondTo(pc-s) {
        gap: 4rem;
      }

      .app-item {
        text-align: center;
        border: 1px solid $color-border;
        border-radius: $radius-card-lg;
        overflow: hidden;

        .img-box {
          // border-bottom: 1px solid $color-border;
          overflow: hidden;
          aspect-ratio: 1.618 / 1;

          // overflow: hidden;
          // border-radius: $radius-card-lg;

          img {
            display: block;
          }
        }

        .text-box {
          position: relative;
          // margin-top: $spacing-lg;
          padding: $spacing-content-sm;
          border-radius: $radius-card-lg;
          // background-color: #8448a0;

          // &::before {
          //   position: absolute;
          //   content: "";
          //   bottom: 100%;
          //   left: 50%;
          //   width: 0;
          //   height: 0;
          //   transform: translateX(-50%);
          //   border-style: solid;
          //   border-width: 0px 15px 25.98px 15px;
          //   border-color: transparent transparent #8448a0 transparent;
          // }

          strong {
            font-size: $font-size-con-title-xs;
            // font-weight: 600;
            // color: #fff;
            @include respondTo(tablet-l) {
              font-size: $font-size-con-title-sm;
            }
          }
        }
      }
    }
  } // 응용분야

  // 제품 리스트
  .ProductCatalog {
    position: relative;
    // &::before {
    //   @include fullContent();
    //   top: 18rem;
    //   content: "";
    //   height: 100%;
    //   background-color: $color-gray-050;
    // }
    // margin-top: $spacing-layout-sm;

    // @include respondTo(tablet-s) {
    //   margin-top: 20px;
    // }

    // @include respondTo(tablet-l) {
    //   margin-top: $spacing-layout-xl;
    // }

    .catalog__title-box {
      position: relative;
      // border-radius: $radius-card-lg;
      // border: 1px solid $color-border;
      // background-color: $color-blue-050;

      &::before {
        @include pseudoDefault();
        background: linear-gradient(
          to right,
          rgba(64, 153, 255, 0.3) 0%,
          rgba(4, 153, 255, 0.3) 50%,
          rgba(0, 0, 0, 0) 100%
        );
        @include fullContent();
        width: 100vw;
        z-index: 0;
      }

      .catalog__title {
        padding: 7rem 1rem 1rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom right;
        z-index: 10;

        @include respondTo(tablet-l) {
          padding: 6rem 3rem;
        }

        span {
          display: block;
          font-size: $font-size-con-title-sm;
          &.s {
            color: $color-text-light;
            font-size: $font-size-section-title-lg;
          }

          @include respondTo(tablet-s) {
            font-size: $font-size-section-title-md;
          }

          @include respondTo(tablet-l) {
            &.s {
              font-size: $font-size-section-title-md;
            }
            &.l {
              font-size: $font-size-section-title-xl;
            }
          }
        }
      }
    }

    .flex-container {
      flex-direction: column;
      gap: 40px;
      margin-top: $spacing-layout-sm;

      @include respondTo(tablet-l) {
        flex-direction: row;
      }

      @include respondTo(pc-s) {
        gap: 60px;
      }

      .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $gutter-sm;

        @include respondTo(tablet-l) {
          flex: 6;
          grid-template-columns: repeat(4, 1fr);
          gap: $gutter-lg;
        }

        .ProductListItem {
          position: relative;
          padding: 14px 16px;
          border: 1px solid $color-border;
          border-radius: $radius-card-md;
          word-break: break-all;
          transition: all 0.3s ease;
          // background-color: #fff;

          @include respondTo(tablet-s) {
            padding: 20px 28px;
          }

          &:hover,
          &:focus {
            color: $color-active;
            border-color: $color-active;

            .subject span {
              background-image: url("@assets/images/icon/icon_add_white.svg");
              background-color: $color-active;
              transform: rotate(180deg);
              border: 1px solid $color-active;
            }
          }

          &:focus {
            outline: none;
            box-shadow: 0 0 0 1px $color-active;
          }

          .subject {
            display: flex;
            gap: 8px;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;

            .sb-txt {
              flex: 1;
              width: fit-content;
              text-align: left;
              font-size: $font-size-sm;
              font-weight: inherit;

              @include respondTo(tablet-l) {
                font-size: $font-size-md;
              }

              @include respondTo(pc-s) {
                font-size: $font-size-lg;
              }
            }

            .sb-icon {
              display: block;
              width: 2.8rem;
              height: 2.8rem;
              border-radius: 50%;
              background-image: url("@assets/images/icon/icon_add_blue.svg");
              background-repeat: no-repeat;
              background-position: center;
              border: 1px solid $color-border;

              transition: all 0.4s ease;

              @include respondTo(tablet-s) {
                width: 3.2rem;
                height: 3.2rem;
              }
            }
          }
        }
      }
    }
  } // ProductCatalog

  .CompactProductPage {
    .SubTabMenu {
      margin-bottom: 4rem;
      @include respondTo(tablet-s) {
        margin-top: 2rem;
        margin-bottom: 5rem;
      }
      @include respondTo(tablet-l) {
        flex-direction: row;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 7.2rem;
      }
    }
  } //CompactProductPage

  .ProductDetailView {
    .pd_flex {
      display: flex;
      flex-direction: column;
      gap: 40px;
      justify-content: space-between;

      @include respondTo(tablet-s) {
        flex-direction: row;
        justify-content: center;
      }

      @include respondTo(tablet-l) {
        gap: 60px;
      }

      .pd_left {
        flex: 1 1 49%;
        text-align: center;
        align-content: center;
        padding: 48px;
        background-color: $color-blue-050;
        border-radius: $radius-card;

        @include respondTo(tablet-l) {
          padding: 60px;
        }

        img {
          max-width: 480px;
        }
      }

      .pd_right {
        flex: 1 1 51%;
        align-content: center;

        @include respondTo(tablet-s) {
          padding: 5rem 0 2rem; // 모달창 닫기 버튼과 컨텐츠의 겹침 방지
        }

        .prod_name {
          font-size: $font-size-con-title-md;

          @include respondTo(tablet-s) {
            max-width: 520px;
            font-size: $font-size-con-title-lg;
          }
        }

        .prod_desc {
          .prod_desc__inner {
            margin-top: 2rem;

            @include respondTo(tablet-l) {
              margin-top: 2.8rem;
            }

            .prod_desc__title {
              color: $color-point;
              font-size: calc(1em + 0.4rem);
              margin-bottom: 1.2rem;
            }

            p,
            li {
              word-break: break-all;
              text-align: justify;
            }

            p {
              line-height: 1.5;

              &:nth-of-type(n + 2) {
                margin-top: 0.4rem;
              }
            }

            .bullets {
              li {
                margin-top: 1rem;
                line-height: 1.2;
              }
            }
          }
        }
      }
    }

    .ProductInfoSection {
      position: relative;
      width: 100%;
      margin: 4rem auto 0;

      &.detail {
        max-width: 860px;
      }

      @include respondTo(tablet-l) {
        margin-top: 5.4rem;
      }

      h6 {
        font-size: $font-size-con-title-sm;
        font-weight: 600;

        @include respondTo(tablet-s) {
          font-size: $font-size-con-title-md;
        }

        @include respondTo(tablet-l) {
          font-size: $font-size-con-title-lg;
        }
      }

      span.copy-prevent {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
      }

      img {
        margin-top: 12px;

        @include respondTo(tablet-l) {
          margin-top: 16px;
        }
      }
    }
  } // ProductDetailView
} // BusinessLayout
