@use "sass:color";

.BusinessLayout {
  .parent-tab,
  .child-tab {
    display: flex;
    overflow-x: auto;
  }

  .parent-tab {
    gap: 6px;
    margin-top: 20px;
    padding: 4px;
    background-color: $color-background;
    border-radius: $radius-md;

    @include respondTo(sm) {
      gap: $gutter-lg;
      justify-content: space-around;
      margin-top: 24px;
      padding: 6px $gutter-lg;
    }

    &__item {
      white-space: nowrap;
      border-radius: $radius-md;
      padding: 8px 12px;

      transition: all 0.3s;

      @include respondTo(sm) {
        flex: 1;
        padding: 12px 20px;
      }

      &:hover {
        color: $color-active;
      }

      &.active {
        color: #fff;
        background-color: $color-active;
      }
    }
  }

  .Business {
    margin-top: 16px;

    @include respondTo(sm) {
      margin-top: 20px;
    }

    @include respondTo(md) {
      margin-top: 100px;
    }

    .flex-container {
      flex-direction: column;
      gap: 40px;

      @include respondTo(md) {
        flex-direction: row;
      }

      @include respondTo(lg) {
        gap: 60px;
      }

      .SeriesTabMenu {
        @include respondTo(md) {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: $gutter-lg;
          margin-top: 4px;
        }

        &__item {
          @include hover-active-underline($color-active);

          &::before {
            @include pseudoDefault($color-border);
            left: 0;
            top: calc(100% - 1px);
            width: 100%;
            height: 1px;

            @include respondTo(md) {
              left: 10%;
              width: 80%;
            }
          }

          &::after {
            left: 0;
            width: 100%;

            @include respondTo(md) {
              left: 10%;
              width: 80%;
            }
          }

          .SeriesTabMenu__text {
            display: block;
            padding: 8px 12px;
          }
        }
      }

      .product-scroll {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $gutter-sm;

        @include respondTo(md) {
          flex: 6;
          grid-template-columns: repeat(4, 1fr);
          gap: $gutter-lg;
        }

        &__button {
          padding: 20px 28px;
          border: 1px solid $color-border;
          border-radius: $radius-md;
          word-break: break-all;
          transition: all 0.3s ease;

          &:hover {
            color: $color-active;
            border-color: $color-active;

            .subject span {
              background-image: url("@assets/images/icon/icon_add_white.svg");
              background-color: $color-active;
              transform: rotate(180deg);
              border: 1px solid $color-active;
            }
          }

          .subject {
            display: flex;
            gap: 8px;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;

            .sbtxt {
              flex: 1;
              width: fit-content;
              text-align: left;
              font-size: $font-size-sm;

              @include respondTo(md) {
                font-size: $font-size-md;
              }

              @include respondTo(lg) {
                font-size: $font-size-lg;
              }
            }

            span {
              display: block;
              width: 2.8rem;
              height: 2.8rem;
              border-radius: 50%;
              background-image: url("@assets/images/icon/icon_add_blue.svg");
              background-repeat: no-repeat;
              background-position: center;
              border: 1px solid $color-border;

              transition: all 0.4s ease;

              @include respondTo(sm) {
                width: 3.2rem;
                height: 3.2rem;
              }
            }
          }
        }
      }
    }

    .product__detail {
      margin-top: 80px;

      @include respondTo(md) {
        margin-top: 280px;
      }

      &-inner {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-top: $header-sm;

        @include respondTo(sm) {
          gap: 80px;
          padding-top: $header-md;
        }

        &:first-child {
          padding-top: 0;
        }

        .pd_flex {
          display: flex;
          flex-direction: column;
          gap: 40px;
          justify-content: space-between;

          @include respondTo(sm) {
            gap: 60px;
            flex-direction: row;
            justify-content: center;
          }

          .pd_left {
            flex: 1 1 49%;
            text-align: center;
            align-content: center;
            padding: 48px;
            background-color: $color-blue-050;
            border-radius: $radius-card;

            @include respondTo(md) {
              padding: 60px;
            }

            img {
              max-width: 480px;
            }
          }

          .pd_right {
            flex: 1 1 51%;
            align-content: center;

            .prod_name {
              display: block;
              font-size: $font-size-con-title-md;

              @include respondTo(sm) {
                max-width: 520px;
                font-size: $font-size-con-title-lg;
              }
            }

            .prod_desc {
              &__inner {
                margin-top: 16px;

                @include respondTo(md) {
                  margin-top: 24px;
                }

                .prod_desc__title {
                  font-weight: 600;
                  color: $color-point;
                  font-size: calc(1em + 2px);
                }

                li {
                  position: relative;
                  padding-left: 12px;
                  line-height: 130%;
                  margin-top: 1rem;

                  &::before {
                    @include pseudoDefault($color-text-body);
                    top: 0.7em;
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                  }
                }
              }

              button {
                @include flexBox(row, $gutter-sm, center);
                position: relative;
                overflow: hidden;
                margin-top: 16px;
                width: 100%;
                padding: 10px 12px;
                border-radius: 1000px;
                background-color: $color-point;
                border: 1px solid $color-point;
                transition: all 0.3s;

                @include respondTo(sm) {
                  margin-top: 30px;
                  padding: 16px 40px;
                  width: auto;
                  font-size: calc(1em + 2px);
                }

                &:hover,
                &.active {
                  .text {
                    color: $color-point;
                  }
                  .effect {
                    width: 225%;
                    height: 562.5px;
                  }
                }

                &.active {
                  .icon {
                    transform: rotateZ(-180deg) scale(1.1);
                  }
                }

                .text {
                  color: #fff;
                  font-weight: $weight-mdium;
                  z-index: 10;
                  transition: all 0.4s ease-in-out;

                  @include respondTo(md) {
                    font-size: calc(1em + 2px);
                  }
                }

                .icon {
                  display: block;
                  background-image: url("@assets/images/icon/icon_arrow_down_blue.svg");
                  background-size: 32px;
                  background-repeat: no-repeat;
                  background-position: 50% -10%;
                  background-color: #fff;
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;

                  z-index: 10;
                  transition: all 0.3s;
                }

                .effect {
                  @include pseudoDefault(#fff);
                  left: 50%;
                  @include square(0);
                  border-radius: 50%;
                  transform: translate(-50%, -50%);
                  transition: all 0.4s ease-in-out;
                }
              }
            }
          }
        }

        .spec-container {
          max-width: 1280px;

          p {
            margin: 0 auto;
            font-size: $font-size-con-title-sm;
            font-weight: 600;

            @include respondTo(md) {
              font-size: $font-size-con-title-lg;
            }
          }

          img {
            margin-top: 12px;

            @include respondTo(md) {
              margin-top: 16px;
            }
          }
        }
      } // grid
    }
  } // Business
} // BusinessLayout
