.ComingSoon {
  margin-top: min(5vw, 60px);
  text-align: center;

  img {
    width: 18%;
    filter: grayscale(1);
    opacity: 0.7;

    @include respondTo(tablet-l) {
      width: 200px;
    }
  }

  .emph {
    margin-top: 0.5em;
    font-weight: 700;
    color: $color-point;
    font-size: min(5vw, 50px);
  }

  .text {
    margin-top: 0.5em;
    color: $color-gray-700;

    @include respondTo(tablet-l) {
      font-size: calc(1em + 10px);
    }
  }
}
