.BannerSwiper {
  $BUTTON_ICON: 15px;
  $SWIPER_PADDING_SM: 16px;
  $SWIPER_PADDING_LG: 44px;
  $SWIPER_BUTTON: 40px;

  padding: 2px 8px 16px;
  height: calc(460px + 18px);

  @include respondTo(md) {
    padding: 2px 24px 24px;
    height: calc(100vh - $header-md);
  }

  .BannerSwiper__title {
    position: absolute;
    top: 1.6rem;
    left: $SWIPER_PADDING_SM;
    font-size: $font-size-display-sm;
    color: #fff;
    text-shadow: $text-shadow;

    z-index: $z-index-swiper-up;

    @include respondTo(xs) {
      font-size: $font-size-display-md;
    }
    @include respondTo(md) {
      left: calc($SWIPER_BUTTON);
      font-size: min(10rem, 6vw);
    }
  }

  .BannerSwiper__swiper {
    height: 100%;

    @include respondTo(md) {
      max-height: 805px;
    }

    .swiper-slide {
      border-radius: 30px;
      overflow: hidden;
    }

    .slide {
      height: 100%;
      $GRADIENT: linear-gradient(
        to left,
        rgba(20, 20, 20, 0) 40%,
        rgba(20, 20, 20, 0.15) 70%,
        rgba(20, 20, 20, 0.3) 100%
      );
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &--0 {
        background-image: $GRADIENT,
          url("@assets/images/home/main_slide(1).jpg");
      }
      &--1 {
        background-image: $GRADIENT,
          url("@assets/images/home/main_slide(2).jpg");
      }
      &--2 {
        background-image: $GRADIENT,
          url("@assets/images/home/main_slide(3).jpg");
      }
      &--3 {
        background-image: $GRADIENT,
          url("@assets/images/home/main_slide(4).jpg");
      }
      &--4 {
        background-image: $GRADIENT,
          url("@assets/images/home/main_slide(5).jpg");
      }

      .slide__text {
        position: absolute;
        left: calc($SWIPER_PADDING_SM + 4px);
        bottom: 3rem;
        color: #fff;
        font-size: $font-size-display-sm;
        text-shadow: $text-shadow;

        @include respondTo(md) {
          left: calc($SWIPER_PADDING_SM + $SWIPER_BUTTON);
          bottom: 6rem;
          font-size: $font-size-display-md;
        }
        @include respondTo(lg) {
          left: calc($SWIPER_PADDING_LG + $SWIPER_BUTTON);
          bottom: 80px;
          font-size: calc($font-size-display-lg - 0.4rem);
        }
      }
    }

    .swiper-pagination-fraction {
      bottom: 7rem;
      left: $SWIPER_PADDING_SM;
      width: auto;
      padding: 8px 20px;
      color: #fff;
      font-size: 13px;
      border-radius: 1000px;
      background-color: rgba(0, 0, 0, 0.5);

      @include respondTo(md) {
        bottom: 12rem;
        left: calc($SWIPER_PADDING_SM + $SWIPER_BUTTON);
        font-size: 15px;
      }
      @include respondTo(lg) {
        bottom: 17rem;
        left: calc($SWIPER_PADDING_LG + $SWIPER_BUTTON);
      }
    }

    .swiper-button {
      &-next,
      &-prev {
        width: $SWIPER_BUTTON;
        height: $SWIPER_BUTTON;
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        transition: all 0.3s;

        &:hover {
          background: rgba(0, 0, 0, 0.8);
        }

        &::after {
          font-size: $BUTTON_ICON;
        }
      }

      &-next {
        right: 10px;
        @include respondTo(md) {
          right: 24px;
        }
      }
      &-prev {
        left: 10px;
        @include respondTo(md) {
          left: 24px;
        }
      }
    }
  }
}

// ====== decorative ======
.decorative-area {
  display: block;
  margin: 10vh 0 10vh;
  font-weight: 700;
  font-size: 32px;

  @include respondTo(md) {
    margin: 16vh 0;
    font-size: 66px;
    line-height: 80px;
  }

  .decorative-txt {
    position: relative;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.2);
    max-width: 66%;
    background: linear-gradient(to right, $color-text-title, $color-text-title)
      no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    // transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;

    @include respondTo(xs) {
      width: max-content;
    }
  }
}

// ====== BusinessSection ======
.BusinessSection {
  margin-top: $spacing-layout-sm;

  @include respondTo(lg) {
    // padding: 40px 0;
  }

  .business__list {
    .flex-box {
      @include flexBox(column, $gutter-sm);
      margin-top: $gutter-sm;

      @include respondTo(sm) {
        flex-flow: row nowrap;
        justify-content: space-between;
      }

      @include respondTo(lg) {
        gap: 10px;
        margin-top: 10px;
      }
    }
  }
}

// ====== VideoSection ======
.VideoSection {
  margin-top: 12rem;

  @include respondTo(lg) {
    margin-top: 22rem;
  }

  &__inner {
    @include flexBox(column, 4.2rem);

    @include respondTo(lg) {
      gap: 9rem;
    }

    .VideoItem {
      @include respondTo(md) {
        @include flexBox(row, 4.8rem, center);
      }

      &:nth-child(even) {
        @include respondTo(md) {
          .video-box {
            order: 2;
          }
        }
      }

      .video-box {
        position: relative;
        overflow: hidden;
        border-radius: $radius-card;
        aspect-ratio: 16 / 9;
        cursor: pointer;
        width: 45%;

        video {
          height: 100%;
        }

        svg {
          @include square(8.2rem);
          @include positionCenter();
        }

        .close-btn {
          position: absolute;
          right: 16px;
          top: 16px;
          @include square(3.2rem);
          border-radius: 50%;
          background-color: #ffffff;

          &:hover {
            color: #fff;
            background-color: #ffffff70;
          }
        }
      }

      .text-box {
        @include flexBox(column, $gutter-sm);
        margin: $gutter-sm 8px 0;

        @include respondTo(sm) {
          margin-top: 22px;
        }

        @include respondTo(md) {
          gap: 3rem;
          margin-top: 22px;
          width: calc(55% - 4.8rem);
        }

        .title {
          display: inline-block;
          font-size: $font-size-con-title-sm;

          @include respondTo(md) {
            font-size: $font-size-con-title-md;
          }
        }

        .desc {
          @include flexBox(column, 1rem);

          .desc__p {
            line-height: 150%;
          }
        }
      }
    }
  }
}
