// ====== swiper ======

.BannerSwiper {
  $BUTTON_ICON: 15px;
  $SWIER_PADDING_SM: 16px;
  $SWIER_PADDING_LG: 44px;

  padding: 2px 8px 16px;
  height: calc(460px + 18px);

  @include respondTo(md) {
    padding: 2px 8x 24px;
    height: calc(100vh - $header-md);
  }

  .BannerSwiper__swiper {
    height: 100%;

    @include respondTo(md) {
      max-height: 805px;
    }

    .swiper-slide {
      border-radius: 30px;
      overflow: hidden;
    }

    .slide {
      height: 100%;
      $GRADIENT: linear-gradient(
        to left,
        rgba(20, 20, 20, 0) 40%,
        rgba(20, 20, 20, 0.15) 70%,
        rgba(20, 20, 20, 0.3) 100%
      );
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &--0 {
        background-image: $GRADIENT,
          url("@assets/images/home/main_slide(1).jpg");
      }
      &--1 {
        background-image: $GRADIENT,
          url("@assets/images/home/main_slide(2).jpg");
      }
      &--2 {
        background-image: $GRADIENT,
          url("@assets/images/home/main_slide(3).jpg");
      }
      &--3 {
        background-image: $GRADIENT,
          url("@assets/images/home/main_slide(4).jpg");
      }

      .slide__text {
        position: absolute;
        left: $SWIER_PADDING_SM;
        bottom: $SWIER_PADDING_SM;
        color: #fff;
        font-size: $font-size-display-sm;
        text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);

        @include respondTo(md) {
          left: $SWIER_PADDING_LG;
          // bottom: $SWIER_PADDING_LG;
          bottom: 110px;
          font-size: $font-size-display-lg;
          line-height: 70px;
        }
      }
    }

    .swiper-pagination-fraction {
      bottom: 80px;
      left: $SWIER_PADDING_SM;
      width: auto;
      padding: 8px 20px;
      color: #fff;
      font-size: 13px;
      border-radius: 1000px;
      background-color: rgba(0, 0, 0, 0.5);

      @include respondTo(md) {
        bottom: 20rem;
        left: $SWIER_PADDING_LG;
        font-size: 15px;
      }
    }

    .swiper-button {
      &-next,
      &-prev {
        width: 40px;
        height: 40px;
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        transition: all 0.3s;

        &:hover {
          background: rgba(0, 0, 0, 0.8);
        }

        &::after {
          font-size: $BUTTON_ICON;
        }
      }

      &-next {
        right: 10px;
        @include respondTo(md) {
          right: 24px;
        }
      }
      &-prev {
        left: 10px;
        @include respondTo(md) {
          left: 24px;
        }
      }
    }
  }
}

// ====== VideoSwiper ======
.VideoSwiper {
  margin-top: 80px;

  @include respondTo(md) {
    margin-top: 160px;
  }

  .flex-box {
    @include respondTo(md) {
      display: flex;
      gap: 64px;
    }
    .video__swiper {
      width: 100%;

      @include respondTo(md) {
        flex: 2;
      }

      video {
        border-radius: $radius-card;
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .video__text-wrap {
      margin-top: $spacing-md;
      align-content: center;

      @include respondTo(md) {
        flex: 1;
        margin-top: 0;
      }

      .video__diplay-text {
        display: none;

        @include respondTo(md) {
          display: block;
          margin: 16px 0 60px;

          span {
            font-size: $font-size-con-title-sm;
            color: $color-active;
          }
          p {
            font-size: $font-size-con-title-lg;
          }
        }
      }

      .video__pagination {
        @include respondTo(md) {
          font-size: $font-size-display-sm;
        }

        .swiper-pagination-bullet {
          position: relative;
          width: 100%;
          height: fit-content;
          margin: 0;
          padding: 10px 0 10px 10px;
          color: $color-text-disabled;
          text-align: left;
          background: transparent;
          cursor: pointer;
          border-radius: 0;
          opacity: 1;
          z-index: $z-index-swiper-up;

          @include respondTo(md) {
            margin-top: 24px;
          }

          &:first-child {
            margin-top: 0;
          }

          span {
            position: relative;

            &::after {
              @include pseudoDefault($color-active);
              top: 130%;
              width: 0;
              height: 1px;

              transition: all 0.3s;

              @include respondTo(md) {
                top: 50%;
                transform: translateX(calc(-100% - 16px));
              }
            }
          }

          &-active {
            color: $color-active;
            font-weight: 600;

            &::before {
              @include pseudoDefault(transparent);
              width: 60px;
              height: 60px;
              left: calc(-100px - 38px);
              top: 50%;
              transform: translateY(-50%);
              border: 1px dashed #fff;
              border-radius: 50%;
            }

            span {
              &::after {
                width: 100%;

                @include respondTo(md) {
                  width: 100px;
                }
              }
            }

            .dot-box {
              display: none;

              @include respondTo(md) {
                position: absolute;
                left: calc(-100px - 38px);
                top: 50%;
                display: block;
                width: 63px;
                height: 63px;
                animation: circle 6s linear infinite;

                @keyframes circle {
                  0% {
                    transform: translateY(-50%) rotate(0);
                  }
                  100% {
                    transform: translateY(-50%) rotate(360deg);
                  }
                }

                &::after {
                  @include pseudoDefault();
                  border-radius: 50%;
                  background-color: $color-active;
                  width: 7px;
                  height: 7px;
                  top: 50%;
                  left: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
