.BannerSwiper {
  $BUTTON_ICON: 15px;
  $SWIPER_PADDING_SM: 16px;
  $SWIPER_PADDING_LG: 44px;
  $SWIPER_BUTTON: 40px;

  padding: 2px 8px 16px;
  height: calc(460px + 18px);

  @include respondTo(tablet-l) {
    padding: 2px 24px 24px;
    height: calc(100vh - $header-md);
  }

  .BannerSwiper__swiper {
    height: 100%;

    .swiper-slide {
      border-radius: 30px;
      overflow: hidden;
    }

    .slide {
      position: relative;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &::before {
        @include pseudoDefault();
        background: linear-gradient(
          to left,
          rgba(20, 20, 20, 0) 40%,
          rgba(20, 20, 20, 0.15) 70%,
          rgba(20, 20, 20, 0.3) 100%
        );
      }

      .slide__text {
        position: absolute;
        left: calc($SWIPER_PADDING_SM + 4px);
        bottom: 3rem;
        color: #fff;
        text-shadow: $text-shadow;
        line-height: 1;

        @include respondTo(tablet-l) {
          left: calc($SWIPER_PADDING_SM + $SWIPER_BUTTON);
          bottom: 6rem;
        }
        @include respondTo(pc-s) {
          left: calc($SWIPER_PADDING_LG + $SWIPER_BUTTON);
          bottom: 80px;
        }

        strong {
          font-weight: 600;
          font-size: calc($font-size-display-xs - 0.2rem);

          @include respondTo(mobile-l) {
            font-size: $font-size-display-xs;
          }

          @include respondTo(tablet-s) {
            font-size: $font-size-display-md;
          }

          @include respondTo(tablet-l) {
            font-size: $font-size-display-lg;
          }
          @include respondTo(pc-s) {
            font-size: calc($font-size-display-lg + 0.8rem);
          }
        }

        p {
          font-size: calc($font-size-display-xs - 0.8rem);

          @include respondTo(tablet-s) {
            font-size: $font-size-display-xs;
          }

          @include respondTo(tablet-l) {
            font-size: $font-size-display-md;
          }
          @include respondTo(pc-s) {
            font-size: calc($font-size-display-md + 0.8rem);
          }
        }
      }
    }

    .swiper-pagination-fraction {
      bottom: 8rem;
      left: $SWIPER_PADDING_SM;
      width: auto;
      padding: 8px 20px;
      color: #fff;
      font-size: 13px;
      border-radius: 1000px;
      background-color: rgba(0, 0, 0, 0.5);

      @include respondTo(tablet-s) {
        bottom: 11rem;
      }
      @include respondTo(tablet-l) {
        bottom: 18.5rem;
        left: calc($SWIPER_PADDING_SM + $SWIPER_BUTTON);
        font-size: 15px;
      }
      @include respondTo(pc-s) {
        bottom: 22.6rem;
        left: calc($SWIPER_PADDING_LG + $SWIPER_BUTTON);
      }
    }

    .swiper-button {
      &-next,
      &-prev {
        width: $SWIPER_BUTTON;
        height: $SWIPER_BUTTON;
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        transition: all 0.3s;

        &:hover {
          background: rgba(0, 0, 0, 0.8);
        }

        &::after {
          font-size: $BUTTON_ICON;
        }
      }

      &-next {
        right: 10px;
        @include respondTo(tablet-l) {
          right: 24px;
        }
      }
      &-prev {
        left: 10px;
        @include respondTo(tablet-l) {
          left: 24px;
        }
      }
    }
  }
}

// ====== decorative ======
.decorative-area {
  display: block;
  margin: 10vh 0 10vh;
  font-weight: 700;
  font-size: $font-size-display-sm;

  @include respondTo(tablet-l) {
    margin: 16vh 0;
    line-height: 80px;
    font-size: $font-size-display-lg;
  }

  .decorative-txt {
    position: relative;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.2);
    max-width: 66%;
    background: linear-gradient(to right, $color-text-title, $color-text-title)
      no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;

    @include respondTo(mobile-l) {
      width: max-content;
    }
  }
}

// ====== BusinessSection ======
.BusinessSection {
  margin-top: $spacing-layout-sm;

  .business__list {
    .flex-box {
      @include flexBox(column, $gutter-sm);
      margin-top: $gutter-sm;

      @include respondTo(tablet-l) {
        flex-flow: row nowrap;
        justify-content: space-between;
      }

      @include respondTo(pc-s) {
        gap: 10px;
        margin-top: 10px;
      }
    }
  }
}

// ====== SolutionSection ======
.SolutionSection {
  overflow-x: hidden;
  margin-top: $spacing-layout-sm;

  @include respondTo(tablet-l) {
    margin-top: $spacing-layout-lg;
    overflow-x: visible;
  }

  .intro-area,
  .list-area {
    padding: 52px 0;

    @include respondTo(tablet-s) {
      padding: 92px 0;
    }
  }

  .intro-area {
    text-align: center;

    strong {
      font-size: 2.9rem;
    }

    p {
      margin-top: 22px;
      color: $color-text-light;

      @include respondTo(tablet-s) {
        margin-top: 32px;
      }
    }
  }

  .list-area {
    color: #fff;
    background-color: #000;
    $gap: 32px;
    $col: 4;

    .item-list {
      position: relative;
      @include flexBox(column, $gap, stretch, stretch);
      padding-top: 22px;

      @include respondTo(tablet-s) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      @include respondTo(pc-s) {
        padding: 52px 34px 0;
      }

      .item {
        height: 240px;

        @include respondTo(tablet-s) {
          // flex: 1;
          width: calc((100% - ($col - 1) * $gap) / $col);
          aspect-ratio: 11 / 13;
          height: auto;
        }

        a {
          position: relative;
          width: 100%;
          height: 100%;
          background-color: green;
          border-radius: $radius-card;
          overflow: hidden;

          &:hover {
            box-shadow: 0px 0px 0px 2px #fff;

            img {
              transform: scale(1.06);
            }
          }

          img {
            display: block;
            height: 100%;
            object-fit: cover;
            transition: all 1s ease;
          }

          .title-box {
            position: absolute;
            bottom: 22px;
            left: 0;
            width: 100%;

            .title {
              font-size: 1em;
              text-align: center;

              @include respondTo(tablet-s) {
                font-size: 2.2rem;
              }
            }
          }
        }
      }
    }
  }
}

// ====== VideoSection ======
.VideoSection {
  margin-top: 12rem;

  @include respondTo(pc-s) {
    margin-top: 22rem;
  }
}
