// 솔루션 공통 요소 스타일
.solution-wrapper {
  .cnt-emph,
  // .cnt-desc,
  .sec__title {
    text-align: center;
  }

  img {
    border-radius: $radius-card-lg;
  }

  section {
    margin-top: min(13vw, 160px);

    .sec__title {
      margin-bottom: min(9.4vw, 60px);
      font-size: $font-size-section-title-sm;
      @include respondTo(tablet-l) {
        font-size: $font-size-section-title-md;
      }
    }

    .sec-img {
      display: block;
      margin: 0 auto;
      // max-width: 900px;
    }
  }

  .SolutionHeading {
    position: relative;
    height: 50vh;
    margin: 0 16px;

    @include respondTo(tablet-l) {
      // height: 85vh;
      margin: 0 24px;
    }

    .background {
      height: 100%;
      overflow: hidden;
      border-radius: $radius-lg;

      &__img {
        height: 100%;
        background-size: cover;
        background-position: center;
      }
    }

    .heading__text {
      position: absolute;
      top: 50%;
      left: 5.2083vw;
      transform: translateY(-50%);
      // width: 50%;

      &__title,
      &__sub {
        color: #fff;
        font-weight: 600;
      }

      &__title {
        font-size: min(7vw, 50px);

        @include respondTo(tablet-l) {
          font-size: 4.4271vw;
        }
      }

      &__sub {
        font-size: min(3.8vw, 24px);

        @include respondTo(tablet-l) {
          font-size: 2.0833vw;
        }
      }
    }
  }

  .ScrollTabs {
    position: sticky;
    top: $header-sm;
    z-index: $z-index-floating;
    background: white;
    border-bottom: 1px solid #ddd;

    @include respondTo(tablet-l) {
      top: $header-md;
    }

    .tab-menu {
      z-index: 999;
      display: flex;
      gap: 1rem;
      padding: 1rem;

      button {
        border: none;
        background: transparent;
        border-bottom: 0;
        cursor: pointer;
        padding: 0.5rem 1rem;

        @include hover-active-underline($color-active, 2px);

        &.active {
          font-weight: bold;
        }
      }
    }
  }

  .cnt-emph {
    display: block;
    margin-top: min(10vw, 130px);
    font-size: $font-size-display-xs;

    @include respondTo(tablet-l) {
      font-size: $font-size-display-lg;
    }
  }

  .cnt-desc {
    font-size: 1.7rem;
    margin: min(9.4vw, 80px) auto 0;
    max-width: 1100px;

    @include respondTo(tablet-l) {
      font-size: 2rem;
      line-height: 1.5;
    }

    .break-point {
      display: block;
    }
  }

  .SectionBanner {
    height: 34vw;
    max-height: 345px;
    color: #fff;
    border-radius: $radius-card-lg;
    background-position: center;
    background-size: cover;
    padding: 5vw;

    .text-box {
      height: 100%;
      align-content: center;

      .title1 {
        font-weight: 400;
        font-size: 1em;
        @include respondTo(tablet-s) {
          font-size: min(2.2vw, 1.8em);
        }
      }

      .title2 {
        margin-top: min(2vw, 20px);
        width: min(48vw, 600px);
        font-weight: 600;
        font-size: min(3vw, 40px);
      }
    }
  }

  .flow-wrapper {
    @include flexBox(column, 1.6em 0, center, space-between, wrap);
    background: #fff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);

    @include respondTo(tablet-s) {
      flex-direction: row;
    }

    @include respondTo(tablet-l) {
      flex-wrap: nowrap;
    }

    .step {
      text-align: center;
      width: 18vw;
      position: relative;

      svg {
        width: 60px;
        height: 60px;
        fill: #2b6cb0;
        animation: pulse 2s infinite;
      }
      .step-title {
        font-weight: 600;
        margin-top: 10px;
        font-size: 1.8rem;
      }
      .step-sub {
        margin-top: 4px;
        font-size: 1.3rem;
        color: $color-text-light;
      }
    }

    .arrow-right {
      font-size: 32px;
      margin: 0 20px;
      color: #aaa;
      animation: slideDown 1.5s infinite;

      @keyframes slideDown {
        0% {
          transform: rotate(90deg) translateX(0);
          opacity: 0.3;
        }
        50% {
          transform: rotate(90deg) translateX(6px);
          opacity: 1;
        }
        100% {
          transform: rotate(90deg) translateX(0);
          opacity: 0.3;
        }
      }

      @include respondTo(tablet-s) {
        animation: slideRight 1.5s infinite;
      }
    }
  }
}

.EcoAI {
  .CleaningRobotSection {
    .desc-bottom {
      margin-top: 4rem;

      @include respondTo(tablet-l) {
        margin-top: 6rem;
      }
    }

    .cnt01 {
      img {
        display: block;
      }
    }

    .cnt02 {
      .flex-box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 3vw;

        @include respondTo(tablet-l) {
          flex-wrap: nowrap;
        }

        img {
          width: auto;
          max-width: 100%;
          border-radius: 0;
          padding: 0 50px;

          @include respondTo(tablet-l) {
            max-width: 50%;
            padding: 0 50px;

            &:last-child {
              border-left: 1px solid $color-blue-300;
            }
          }
        }
      }
    }

    .cnt03 {
      .HorizontalCardSlider {
        .swiper-slide {
          aspect-ratio: 2 / 3;
          img {
            height: 100%;
            object-fit: cover;
            border-radius: $radius-card-md;
          }
        }
      }
    }

    .cnt04 {
      .VerticalThumbSlider {
        @include respondTo(mobile-l) {
          display: flex;
          flex-flow: row nowrap;
          height: 40vh;
        }

        @include respondTo(tablet-s) {
          height: 52vh;
        }

        img {
          height: 100%;
          object-fit: cover;
          border-radius: $radius-card-md;
        }

        &__mainSwiper {
          @include respondTo(mobile-l) {
            height: 100%;
            width: 80%;
            margin-right: 10px;
          }
        }

        &__thumbSwiper {
          @include respondTo(mobile-l) {
            height: 100%;
            width: 20%;
          }

          .swiper-wrapper {
            @include respondTo(mobile-l) {
              // flex-direction: column;
            }
          }
        }
      }
    }

    .cnt05 {
      .flex-container {
        justify-content: space-between;

        img {
          display: block;
          width: 49%;
          border-radius: $radius-card-md;
        }
      }

      .dl-item {
        display: flex;
        gap: 0.3em;
      }
    }
  }
}
