@use "sass:color";

// 비전 솔루션 페이지
.Vision {
  .IntroSection {
    .cnt02 {
      .flex-container {
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 2.5em;

        @include respondTo(tablet-s) {
          flex-wrap: nowrap;
        }
      }

      .item {
        flex: 50% 0 0;
        height: auto;

        @include respondTo(tablet-s) {
          flex: 1;
        }

        svg {
          fill: #4e88e7;
          width: 100%;
          height: auto;
          aspect-ratio: 1 / 1.2176470588235293;
        }

        p {
          margin-top: 1em;
          text-align: center;
          font-size: 1.2em;
          font-weight: 700;
          color: #4e88e7;
        }

        @for $i from 1 to 6 {
          &:nth-child(#{$i}) {
            .img-box {
              background: url("@assets/images/solution/vision-cnt2-#{$i}.png")
                center
                32% /
                60%
                no-repeat;

              svg {
                filter: brightness(70% + (10% * $i));
              }
            }

            p {
              filter: brightness(70% + (10% * $i));
            }
          }
        }

        ul {
          margin-top: 1em;
          padding: 0 0.4em 0 0.8em;

          li:last-child {
            margin-top: 0.5em;
          }
        }
      }
    }
  }

  // 각 섹션 나누기 배너
  .SectionBanner {
    height: 34vw;
    max-height: 345px;
    color: #fff;
    border-radius: $radius-card-md;
    background-position: center;
    background-size: cover;
    padding: 5vw;

    @include respondTo(tablet-s) {
      border-radius: $radius-card-lg;
    }

    .text-box {
      height: 100%;
      align-content: center;

      .title1 {
        font-weight: 600;
        font-size: 1.2em;

        @include respondTo(tablet-s) {
          font-size: min(3vw, 40px);
        }
      }

      .title2 {
        margin-top: min(2vw, 20px);
        width: 59%;
        font-size: 1em;
        @include respondTo(tablet-s) {
          width: 40%;
          font-size: min(2.2vw, 1.4em);
        }

        @include respondTo(tablet-l) {
          width: min(49vw, 640px);
        }
      }
    }
  }

  // 슬라이더
  .FadeUpTextSlider {
    position: relative;

    .swiper {
      padding-bottom: 30px;

      @include respondTo(pc-l) {
        overflow: visible;
        padding-bottom: 36px;
      }

      .swiper-pagination-bullets {
        bottom: 0;

        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;

          &-active {
            transform: scale(1.5);
          }
        }
      }

      .img-box {
        aspect-ratio: 1392 / 440;
        overflow: hidden;
        border-radius: $radius-card-md;

        @include respondTo(tablet-s) {
          border-radius: $radius-card-lg;
        }

        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .txt-box {
      top: 100%;
      max-width: 1200px;
      margin: 2em auto 0;
      padding: 0 2px;
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.5s ease, transform 0.5s ease;
      text-align: center;

      @include respondTo(tablet-l) {
        margin-top: 3em;
        font-size: 1.8rem;
      }

      &.active {
        opacity: 1;
        transform: translateY(0);
      }

      &.inactive {
        opacity: 0;
        transform: translateY(20px);
      }

      strong {
        display: block;
        font-size: 1.2em;
        margin-bottom: 0.5em;
        font-weight: 600;
        @include respondTo(tablet-l) {
          margin-bottom: 0.8em;
          font-size: 1.4em;
        }
      }
    }
  }

  // 머신비전 카메라
  .MachineVisionSection {
    .cnt02,
    .cnt03 {
      margin-top: min(13vw, 160px);
    }

    .cnt02 {
      .flex-container {
        justify-content: center;
        flex-wrap: wrap;
        gap: 1vw;

        @include respondTo(tablet-s) {
          flex-wrap: nowrap;
        }

        div {
          flex: calc(50% - 1em) 0 1;

          @include respondTo(tablet-s) {
            flex: 1;
          }

          img {
            border-radius: 0;
          }
        }
      }
    }
  }

  // 열화상 카메라
  .ThermalImagingSection {
    .cnt01 {
      margin-top: min(8vw, 80px);

      .cnt-desc {
        margin: 0 auto min(5vw, 50px);
      }
    }

    .cnt03 {
      .flex-box {
        position: relative;
        @include flexBox(column, 42px);
        align-items: flex-start;

        @include respondTo(tablet-l) {
          flex-direction: row;

          &::after {
            @include pseudoDefault($color-border);
            width: 1px;
            left: 50%;
          }
        }

        img {
          @include respondTo(tablet-l) {
            width: 10%;
            flex: 1;
          }
        }
      }
    }

    .cnt05 {
      table {
        table-layout: fixed;
        width: 100%;
        border-spacing: 0.6em;

        caption {
          font-size: min(2vw, 23px);
          font-weight: 700;
          color: $color-gray-800;
          margin-bottom: min(2vw, 38px);
        }

        th,
        td {
          border-radius: $radius-card-md;
          padding: 1.2em 0.2em;
        }
        thead {
          th {
            background-color: $color-gray-050;
            &:nth-of-type(1) {
              background-color: #fff2e5;
            }
          }
        }

        tbody {
          th {
            background-color: #fff2e5;
          }
          td {
            text-align: center;
            background-color: #faf0ff;
          }
        }
      }

      img {
        margin-top: min(2.2vw, 44px);
      }
    }

    .cnt06-wrapper {
      color: #fff;
      background-color: $color-background-dark;
    }

    .cnt06 {
      padding-top: min(10.4vw, 74px);
      padding-bottom: min(10.4vw, 74px);

      .title {
        margin: 15px 0;
        text-align: center;
      }

      .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        margin-top: 15px;

        @include respondTo(tablet-l) {
          margin-top: 50px;
        }

        .item {
          text-align: center;
          width: 49%;

          @include respondTo(tablet-l) {
            width: 25%;
          }

          img {
            width: auto;
            max-width: 99%;
          }

          p {
            margin: 15px 0;

            @include respondTo(tablet-s) {
              font-size: 20px;
            }
          }
        }
      }
    }
  } // 열화상 카메라

  // 초분광
  .HyperspectralSection {
    h4 {
      margin: min(9.4vw, 120px) auto min(4.7vw, 40px);
    }

    .cnt03 {
      h4 {
        margin-bottom: min(9.4vw, 60px);
      }

      .flex-container {
        @include flexBox(column, 2em, center);

        @include respondTo(mobile-l) {
          flex-direction: row;
          justify-content: space-between;
        }

        img {
          width: 60%;
          @include respondTo(mobile-l) {
            width: 30%;
          }
        }
      }
    }

    .FadeUpTextSlider {
      .swiper {
        padding-left: 10px;
        padding-right: 10px;
        overflow: hidden;

        .swiper-pagination-bullet {
          &-active {
            background-color: #fd8a00;
          }
        }

        .img-box {
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          border: 1px solid $color-border;
          aspect-ratio: 1200 / 525;
          img {
            object-fit: contain;
          }
        }

        .txt-box {
          margin-left: 1em;
        }
      }
    }
  } // cnt03
}
