// 솔루션 공통 요소 스타일
.solution-wrapper {
  img {
    display: inline-block;
  }

  .section {
    margin-top: min(13vw, 160px);
  }

  .intro-desc {
    margin-top: min(9.4vw, 80px);
    margin-left: auto;
    margin-right: auto;

    @include respondTo(tablet-l) {
      font-size: 2rem;
      line-height: 1.5;
    }
  }

  .ContenttBlock {
    margin-top: min(12vw, 140px);
  }

  .cnt-emph,
  .cnt-title {
    text-align: center;
  }

  .cnt-title {
    margin-bottom: min(9.4vw, 60px);
    font-size: 20px;

    @include respondTo(tablet-l) {
      font-size: $font-size-section-title-md;
    }
  }

  .cnt-desc {
    margin-top: min(5vw, 50px);
    margin-left: auto;
    margin-right: auto;

    @include respondTo(tablet-l) {
      font-size: 2rem;
      line-height: 1.5;
    }
  }

  .cnt-emph {
    display: block;
    margin-top: min(10vw, 130px);
    font-size: $font-size-display-xs;

    @include respondTo(tablet-l) {
      font-size: $font-size-display-lg;
    }
  }

  // 솔루션 전용 헤딩
  .SolutionHeading {
    position: relative;
    height: 50vh;
    margin: 0 16px;

    @include respondTo(tablet-l) {
      // height: 85vh;
      margin: 0 24px;
    }

    .background {
      height: 100%;
      overflow: hidden;
      border-radius: $radius-lg;

      &__img {
        height: 100%;
        background-size: cover;
        background-position: center;
      }
    }

    .heading__text {
      position: absolute;
      top: 50%;
      left: 5.2083vw;
      transform: translateY(-50%);
      // width: 50%;

      &__title,
      &__sub {
        color: #fff;
        font-weight: 600;
      }

      &__title {
        font-size: min(7vw, 50px);

        @include respondTo(tablet-l) {
          font-size: 4.4271vw;
        }
      }

      &__sub {
        font-size: min(3.8vw, 24px);

        @include respondTo(tablet-l) {
          font-size: 2.0833vw;
        }
      }
    }
  }

  // 스크롤 탭메뉴
  .ScrollTabs {
    overflow-y: auto;
    position: sticky;
    top: calc($header-sm - 10px);
    z-index: $z-index-floating;
    background: white;
    border-bottom: 1px solid #ddd;

    @include respondTo(tablet-l) {
      top: calc($header-md - 10px);
    }

    .tab-menu {
      z-index: 999;
      display: flex;
      gap: 1rem;
      padding: 1rem 0;

      button {
        flex: 29% 1 0;
        padding: 0.4em 1.2em;
        background-color: $color-background-light;
        border-radius: 1000px;

        transition: all 0.3s;

        @include respondTo(mobile-l) {
          flex: none;
        }

        @include respondTo(tablet-s) {
          padding: 0.8em 1.2em;
        }

        &:hover,
        &.active {
          font-weight: bold;
          color: #fff;
          background-color: $color-background-dark;
        }
      }
    }
  }

  // 제품 목록
  .ProductLines {
    li {
      font-size: 20px;
      margin-top: 20px;
      border: 1px solid #e3e3e3;
      box-shadow: 0 3px 0 #ececec;
      background-color: #fff;

      a.flex-container {
        flex-direction: column;
        position: relative;

        transition: all 0.5s;
        border: 1px solid transparent;

        @include respondTo(tablet-s) {
          flex-direction: row;
        }

        @include respondTo(tablet-s) {
          padding: 15px;
        }

        @include respondTo(tablet-l) {
          padding: 25px;
        }

        &::before {
          top: 0;
          left: 0;
        }

        &::after {
          bottom: 0;
          right: 0;
        }

        &::before,
        &::after {
          box-sizing: inherit;
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border: 3px solid transparent;
        }

        &:hover {
          &::before,
          &::after {
            width: 100%;
            height: 100%;
          }

          &::before {
            border-top-color: $color-point;
            border-right-color: $color-point;
            transition: width 0.3s linear, height 0.3s linear 0.3s;
          }

          &::after {
            border-bottom-color: $color-point;
            border-left-color: $color-point;
            transition: border-color 0s linear 0.6s, width 0.3s linear 0.6s,
              height 0.3s linear 0.9s;
          }

          img {
            transform: scale3d(1.2, 1.2, 1.2);
          }
        }

        .img-box {
          flex: 1 1 60%;
          aspect-ratio: 866 / 400;
          overflow: hidden;

          @include respondTo(tablet-s) {
            flex: 1 1 46.55172413793103%;
            max-width: 46.55172413793103%;
          }

          @include respondTo(tablet-l) {
            flex: 1 1 30%;
            max-width: 30%;
          }

          img {
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s;
          }
        }

        .desc {
          position: relative;
          display: block;
          flex: 1 1 40%;
          padding: 30px 20px;

          @include respondTo(tablet-s) {
            flex: 1 1 53.44827586206897%;
            max-width: 53.44827586206897%;
            padding: 4px 0 50px 20px;
          }

          @include respondTo(tablet-l) {
            flex: 1 1 70%;
            max-width: 70%;
            padding-left: 30px;
          }

          @include respondTo(pc-s) {
            padding: 12px 0 50px 30px;
          }

          dt {
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 600;
            line-height: 1;

            @include respondTo(tablet-l) {
              font-size: 25px;
              margin-bottom: 18px;
            }
          }

          .bullets {
            dd {
              font-size: 14px;
              margin-top: 0.5em;
              line-height: 1.4;

              @include respondTo(tablet-s) {
                font-size: 15px;
              }
            }
          }

          .link-more {
            display: block;
            width: fit-content;
            font-size: 14px;
            padding: 10px 14px;
            margin-top: 13px;
            margin-left: 12px;
            line-height: 1.4;
            color: #fff;
            font-weight: 400;
            background-color: $color-point;
            border-radius: 100px;

            @include respondTo(tablet-s) {
              position: absolute;
              bottom: 2px;
              left: 20px;
            }

            @include respondTo(tablet-l) {
              bottom: 0;
              left: 30px;
            }

            @include respondTo(pc-s) {
              bottom: 8px;
              font-weight: 600;
            }
          }
        }
      } // a
    }
  }

  // 아이콘+화살표 흐름도
  .StepFlow {
    .flow-wrapper {
      @include flexBox(column, 1.6em 0, center, space-between, wrap);
      background: #fff;
      padding: 40px;
      border-radius: 16px;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);

      @include respondTo(tablet-s) {
        flex-direction: row;
      }

      @include respondTo(tablet-l) {
        flex-wrap: nowrap;
      }

      .step {
        text-align: center;
        width: 18vw;
        position: relative;

        svg {
          width: 60px;
          height: 60px;
          fill: #2b6cb0;
          animation: pulse 2s infinite;
        }
        .step-title {
          font-weight: 600;
          margin-top: 10px;
          font-size: 1.8rem;
        }
        .step-sub {
          margin-top: 4px;
          font-size: 1.3rem;
          color: $color-text-light;
        }
      }

      .arrow-right {
        font-size: 32px;
        margin: 0 20px;
        color: #aaa;
        animation: slideDown 1.5s infinite;

        @keyframes slideDown {
          0% {
            transform: rotate(90deg) translateX(0);
            opacity: 0.3;
          }
          50% {
            transform: rotate(90deg) translateX(6px);
            opacity: 1;
          }
          100% {
            transform: rotate(90deg) translateX(0);
            opacity: 0.3;
          }
        }

        @include respondTo(tablet-s) {
          animation: slideRight 1.5s infinite;
        }
      }
    }
  }
}
