.SmartFactory {
  --color-highlight: var(--theme-point);
  --gap-lg: min(6vw, 60px);
  --gap-md: min(4.6vw, 56px);
  --gap-sm: min(2.6vw, 30px);

  @mixin emph-size() {
    font-size: 20px;
    @include respondTo(tablet-l) {
      font-size: $font-size-section-title-md;
    }
  }

  .sec-title {
    font-weight: 400;
    color: var(--color-title);
    margin-bottom: var(--gap-lg);
    @include emph-size();
  }

  .sub-box {
    margin-top: var(--gap-lg);
    margin-bottom: var(--gap-lg);

    &.background-light {
      @include fullBackground($color-background-light);
      padding: var(--gap-lg) 0 var(--gap-lg) 0;
    }
  }

  .sub-box__title {
    position: relative;
    font-weight: 400;
    margin-bottom: var(--gap-md);
    padding-left: 0.8em;
    color: var(--color-subtitle);

    @include respondTo(tablet-l) {
      font-size: $font-size-section-title-sm;
    }

    &::before {
      @include pseudoDefault(var(--color-subtitle));
      width: 4px;
    }
  }

  // .intro-desc,
  // .cnt-desc {
  //   text-align: center;
  // }

  .step-box {
    @include flexBox(column, 4px, center, space-between);
    margin-top: var(--gap-sm);
    border-radius: $radius-card;
    background-color: rgb(217, 240, 243);
    padding: max(2vw, 16px);

    @include respondTo(mobile-l) {
      flex-direction: row;
    }

    .step-item {
      position: relative;
      width: 90%;
      padding: max(1vw, 10px) max(1vw, 12px);
      border-radius: $radius-card-md;
      background-color: rgb(242, 242, 242);
      text-align: center;
      border: $color-point 1px solid;

      @include respondTo(mobile-l) {
        flex-direction: row;
        width: 28%;
      }

      p {
        word-break: break-all;
      }
    }

    svg {
      transform: rotateZ(180deg);
      fill: rgb(255, 230, 0);
      color: rgb(255, 230, 0);

      @include respondTo(mobile-l) {
        transform: rotateZ(90deg);
      }
    }
  }

  .EndSection {
    .cnt02 {
      .emph {
        margin: var(--gap-lg) 0 var(--gap-sm);
        text-align: center;
        font-size: $font-size-section-title-sm;
      }
    }

    .cnt03 {
      padding-bottom: 0;

      .grid-block {
        margin-top: var(--gap-sm);
        &__title {
          text-align: left;
        }
      }

      .example-box {
        margin-top: var(--gap-lg);
        padding: min(6.6vw, 80px) 0 var(--gap-lg) 0;
        @include fullBackground($color-background-dark);

        &__title {
          color: #fff;
          margin-bottom: var(--gap-md);
          @include emph-size();
          text-align: center;
        }

        .slide-box {
          padding: 0 min(6.6vw, 80px);

          img {
            border-radius: $radius-card-md;
            @include respondTo(tablet-l) {
              border-radius: $radius-card-lg;
            }
          }
          .swiper-button-prev {
            right: 100%;
          }
        }
      }
    }
  }
}
