.SmartFactory {
  --color-highlight: var(--theme-point);

  .sec-title {
    font-weight: 400;
    color: var(--color-title);
    margin-bottom: min(6vw, 60px);
    font-size: 20px;

    @include respondTo(tablet-l) {
      font-size: $font-size-section-title-md;
    }
  }

  .sub-box {
    margin-top: min(6vw, 60px);
    margin-bottom: min(6vw, 60px);

    &.background-light {
      @include fullBackground($color-background-light);
      padding: min(6vw, 60px) 0 min(6vw, 60px) 0;
    }
  }

  .sub-box__title {
    position: relative;
    font-weight: 400;
    margin-bottom: min(4.6vw, 56px);
    padding-left: 0.8em;
    color: var(--color-subtitle);

    @include respondTo(tablet-l) {
      font-size: $font-size-section-title-sm;
    }

    &::before {
      @include pseudoDefault(var(--color-subtitle));
      width: 4px;
    }
  }

  // .intro-desc,
  // .cnt-desc {
  //   text-align: center;
  // }
}
