// main.scss
@import "./base/variables";
@import "./base/mixins";
@import "./base/reset";
// @use './base/typography';

@import "./layout/header";
@import "./layout/footer";
@import "./layout/nav";

@import "./components/pageHeading";
@import "./components/floatingBtn";
@import "./components/tabMenu";
@import "./components/subTabMenu";
@import "./components/modal";
@import "./components/popup";
@import "./components/VideoPreviewPlayer";
@import "./components/ExpandableVideoPanel";
@import "./components/ExpandableVideoList";
@import "./components/CircleIconList";
@import "./components/RollingSwiper";

@import "./pages/home";
@import "./pages/business";
@import "./pages/business/logistics";
@import "./pages/solution";
@import "./pages/solutionAutomation";
@import "./pages/solutionVision";
@import "./pages/solutionEcoAI";
@import "./pages/solutionSmartFactory";
@import "./pages/about";
@import "./pages/ComingSoon";

@import "./utils/helpers";
@import "./utils/theme";
@import "./utils/animations";
// @use './utils/z-index';
// @use './utils/animations';
