// main.scss
// 1. 설정 & 유틸리티 (Variables, Mixins, Functions)
@import "./base/variables";
@import "./base/mixins";
@import "./utils/helpers";
@import "./utils/theme";

// 2. 기본 스타일
@import "./base/reset";
// @use './base/typography';

// 3. 레이아웃
@import "./layout/header";
@import "./layout/footer";
@import "./layout/nav";

// 4. 컴포넌트
@import "./components/pageHeading";
@import "./components/floatingBtn";
@import "./components/tabMenu";
@import "./components/subTabMenu";
@import "./components/modal";
@import "./components/popup";
@import "./components/VideoPreviewPlayer";
@import "./components/ExpandableVideoPanel";
@import "./components/ExpandableVideoList";
@import "./components/CircleIconList";
@import "./components/RollingSwiper";

// 5. 페이지별 스타일
@import "./pages/home";
@import "./pages/business/business";
@import "./pages/business/vision";
@import "./pages/business/logistics";
@import "./pages/solution/solution";
@import "./pages/solution/solutionAutomation";
@import "./pages/solution/solutionVision";
@import "./pages/solution/_solutionLogistics";
@import "./pages/solution/solutionEcoAI";
@import "./pages/solution/solutionSmartFactory";
@import "./pages/about";
@import "./pages/ComingSoon";

// 6. 애니메이션
@import "./utils/animations";
// @use './utils/z-index';
