@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// *** useScrollReveal용 애니메이션
[data-usr="fade-up"] {
  opacity: 0;
  transform: translate3d(0, 50%, 0);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;

  &.in-view {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

[data-usr="fill-up"] {
  max-width: 0;
  transition-property: max-width;

  &.in-view {
    max-width: 100%;
  }
}

[data-usr="zoom-out"] {
  opacity: 0.1;
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
  -ms-transform: scale3d(1.5, 1.5, 1.5);
  transform: scale3d(1.5, 1.5, 1.5);
  transition-property: transform, opacity;

  &.in-view {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

// *** aos 커스텀 애니메이션
[data-aos="fade-up-custom"] {
  opacity: 0;
  -webkit-transform: translate3d(0, 60%, 0);
  -ms-transform: translate3d(0, 60%, 0);
  transform: translate3d(0, 60%, 0);
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

[data-aos="zoom-out-custom"] {
  opacity: 0;
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
  -ms-transform: scale3d(1.5, 1.5, 1.5);
  transform: scale3d(1.5, 1.5, 1.5);
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
