.container {
  @mixin container-base() {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  @include container-base();
  padding: 0 $gutter-sm;
  max-width: 1440px;

  @include respondTo(tablet-l) {
    padding: 0 $gutter-lg;
  }

  &--s {
    @include container-base();
    max-width: 900px;
  }
  &--m {
    @include container-base();
    max-width: 1100px;
  }

  &--l {
    @include container-base();
    max-width: 1200px;
  }
}

.copy-prevent {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.flex-container {
  display: flex;
}

.grid-block {
  display: grid;
  gap: 10px;

  @include respondTo(pc-s) {
    gap: 40px;
  }

  &--two-col {
    grid-template-columns: repeat(2, 1fr);
  }

  &--three-col {
    .grid-block__thumb {
      aspect-ratio: 16 / 9;
    }
    grid-template-columns: repeat(2, 1fr);
    @include respondTo(mobile-l) {
    }
    @include respondTo(tablet-s) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--four-col {
    grid-template-columns: repeat(2, 1fr);

    @include respondTo(tablet-s) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__thumb {
    overflow: hidden;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text-box {
    padding: 16px 12px;

    @include respondTo(tablet-l) {
      padding: $spacing-content-sm;
    }
  }

  &__title {
    display: block;
    font-size: 1.5rem;
    text-align: center;

    @include respondTo(tablet-l) {
      font-size: $font-size-con-title-sm;
    }
  }

  &__list {
    margin-top: 0.8em;
    li {
      font-size: calc(1em - 2px);
      margin-top: 0.4em;
    }
  }
}

.overflow_hidden {
  overflow: hidden;
}

.img-box {
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.break-point {
  display: block;
}

// 섹션 제목
.section_title {
  font-size: $font-size-section-title-sm;
  margin-bottom: 24px;

  @include respondTo(tablet-l) {
    font-size: $font-size-section-title-lg;
    margin-bottom: 40px;
  }
}

// 컨텐츠 제목
.cnt-title {
  margin-bottom: min(9.4vw, 60px);
  font-size: 20px;
  text-align: center;

  @include respondTo(tablet-l) {
    font-size: $font-size-section-title-md;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: $z-index-popup;
}

.card {
  border-radius: $radius-card-md;
  @include respondTo(tablet-l) {
    border-radius: $radius-card-lg;
  }
}

.radius-pill {
  border-radius: 1000px;
}

// ==== btn ====
.btn {
  line-height: 1em;
  text-align: center;
  cursor: pointer;
  background-color: #fff;

  transition: all 0.3s;

  &-point {
    color: #fff;
    font-weight: 600;
    background-color: $color-point;
  }

  &-pill {
    border-radius: 1000px;
    padding: calc(1em - 0.4rem) 1.4em;

    @include respondTo(pc-s) {
      padding: calc(1em - 0.2rem) 1.4em;
    }
  }

  &-border {
    border: 1px solid $color-text-body;
  }
}

.bullets {
  > * {
    position: relative;
    padding-left: 12px;
    margin-left: 0.3rem;

    &::before {
      @include pseudoDefault(currentColor);
      top: 0.5em;
      width: 3px;
      height: 3px;
      border-radius: 50%;
    }
  }
}

.highlight {
  font-weight: 600;
  color: var(--color-highlight);
}
