// src/styles/theme.scss
:root {
  --color-point: $color-blue-600;
  --color-active: $color-blue-600;
}

/* 자동화 페이지 테마 */
.BusinessLayout[data-theme="automation"] {
  --color-point: $color-blue-600;
  --color-active: $color-blue-600;
}

/* 재활용 페이지 테마 */
[data-theme="recycling"] {
  --color-point: $color-blue-600;
  --color-active: $color-blue-600;
}

/* 의료 페이지 테마 */
[data-theme="medical"] {
  --primary-color: #9c27b0;
  --background-color: #f3e5f5;
  --text-color: #4a148c;
}

/* 공통 스타일 */
body {
  color: $color-text-body;
  background-color: #fff;
}

// h1 {
//   color: var(--primary-color);
// }
