@use "@styles/base/variables.scss" as *;
@use "@styles/base/mixins.scss" as *;

.BusinessItem {
  position: relative;
  @include flexBox(column, 36px, stretch, space-between);
  padding: 32px;
  height: 96px;
  overflow: hidden;
  border-radius: $radius-card;
  background: left center / cover no-repeat;
  transition: flex 0.6s, height 0.6s ease-in-out;

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      background-image: url("@assets/images/home/business_section(#{$i}).jpg");
    }
  }

  @include respondTo(sm) {
    flex: 1 1;
    height: auto;
    overflow: visible;
    background-position: left top;
  }

  @include respondTo(md) {
    padding: 32px 34px 34px;
  }

  @include respondTo(lg) {
    height: 600px;
    padding: 38px 34px 56px;

    &:hover {
      flex: 2.4 1;

      &::before {
        background-color: transparent;
      }

      ul.category__sub__list {
        opacity: 1;

        .category__sub__link {
          width: 80%;

          &:hover {
            color: #fff;
            background-color: #1d57bcd0;
          }
        }
      }
    }
  }

  &::before {
    @include pseudoDefault(#ffffff40);
    border-radius: $radius-card;
    transition: background-color 0.3s;
  }

  &.active {
    height: 402px;

    .icon_plus {
      transform: rotateZ(135deg);
    }
  }

  .title_box,
  .category__sub__list {
    z-index: 1;
  }

  .title_box {
    @include flexBox(row, 0, center, space-between);

    .title {
      color: #fff;
      font-weight: $weight-extraBold;
      font-size: $font-size-con-title-sm;

      @include respondTo(lg) {
        width: min-content;
        font-size: 2.8rem;
      }

      @include respondTo(xl) {
        font-size: $font-size-con-title-md;
      }
    }

    .icon_plus {
      padding: 4px;
      border-radius: 50%;
      background-color: #ffffffcc;

      transition: transform 0.5s;
    }
  }

  .category__sub__list {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 4px;

    @include respondTo(lg) {
      opacity: 0;
      gap: 8px;
      transition: opacity 0.3s;
    }

    .category__sub__link {
      width: 216px;
      padding: 12px 16px;
      border-radius: $radius-xs;
      background-color: #fff;
      font-weight: 600;
      white-space: nowrap;
      transition: width 0.3s;

      @include respondTo(md) {
        width: 226px;
      }

      @include respondTo(lg) {
        padding: 14px 16px;
        overflow: hidden;
        width: 100px;
      }
    }
  }
}
