@use "@styles/base/variables.scss" as *;
@use "@styles/base/mixins.scss" as *;

.section {
  margin-top: $spacing-layout-sm;

  @include respondTo(md) {
    margin-top: $spacing-layout-lg;
    padding: 40px 0;
  }

  ul.category__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $gutter-sm;

    @include respondTo(md) {
      flex-direction: row;
      gap: $gutter-lg;
    }

    li.category__item {
      padding: 32px;
      border-radius: $radius-card;
      background: $overay-white-350,
        url("@assets/images/business_section(4).png");
      background-size: cover;
      background-position: left;

      transition: all 0.3s;

      @include respondTo(md) {
        flex: 1;
        height: 600px;
        padding: 42px 42px 56px;

        &:hover {
          flex: 2.2;

          ul.category__sub__list {
            // display: flex;
            opacity: 1;

            .category__sub__link {
              width: 240px;
            }
          }
        }
      }

      .category__title {
        color: #fff;
        font-weight: 800;
        margin-bottom: 32px;
        font-size: $font-size-con-title-sm;

        @include respondTo(md) {
          margin-bottom: 0;
          font-size: $font-size-con-title-lg;
        }
      }

      ul.category__sub__list {
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 4px;
        height: calc(100% - $font-size-con-title-lg);
        transition: opacity 0.3s;

        @include respondTo(md) {
          opacity: 0;
          gap: 8px;
        }

        .category__sub__link {
          width: 216px;
          padding: 12px 16px;
          border-radius: $radius-xs;
          background-color: #fff;
          font-weight: 600;
          white-space: nowrap;
          transition: width 0.3s;

          @include respondTo(sm) {
            width: 240px;
          }

          @include respondTo(md) {
            padding: 14px 16px;
            overflow: hidden;
            width: 100px;
          }
        }
      }
    }
  }
}
