@use "@styles/base/variables.scss" as *;
@use "@styles/base/mixins.scss" as *;

.BusinessItem {
  position: relative;
  @include flexBox(column, 36px, stretch, space-between);
  padding: 32px;
  height: 96px;
  min-height: 96px;
  overflow: hidden;
  border-radius: $radius-card;
  background: left center / cover no-repeat;
  transition: flex 0.6s, min-height 0.6s ease-in-out;

  @include respondTo(sm) {
    flex: 26%;
    height: 38rem;
    overflow: visible;
    background-position: left top;
  }

  @include respondTo(lg) {
    height: 540px;
    padding: 38px 34px 56px;
  }

  &::before {
    @include pseudoDefault(#ffffff40);
    border-radius: $radius-card;
    transition: background-color 0.3s;
  }

  &::after {
    @include pseudoDefault(transparent);
    top: 50%;
    height: 50%;
    border-radius: 0 0 $radius-card $radius-card;
    transition: background-color 0.3s;

    @include respondTo(lg) {
      background-color: transparent;
    }
  }

  &.active {
    min-height: 30rem;

    .icon_plus {
      transform: rotateZ(135deg);
    }

    p,
    .btn {
      opacity: 1;
    }

    &::before {
      background-color: transparent;
    }

    &::after {
      background-color: #00000070;
    }

    @include respondTo(sm) {
      flex: 80%;
    }
  }

  &:hover {
    @include respondTo(lg) {
      flex: 80%;

      &::before {
        background-color: transparent;
      }

      &::after {
        background-color: #00000070;
      }

      p,
      .btn {
        opacity: 1;
      }
    }
  }

  .title_box,
  .category__sub__list {
    z-index: 1;
  }

  .title_box {
    @include flexBox(row, 0, center, space-between);

    .title {
      color: #fff;
      font-weight: $weight-extraBold;
      font-size: $font-size-con-title-sm;

      @include respondTo(lg) {
        width: min-content;
        font-size: 2.8rem;
      }

      @include respondTo(xl) {
        font-size: $font-size-con-title-md;
      }
    }

    .icon_plus {
      padding: 4px;
      border-radius: 50%;
      background-color: #ffffffcc;

      transition: transform 0.5s;
    }
  }

  p,
  .btn {
    z-index: 1;
    opacity: 0;
    text-align: center;

    transition: all 0.5s;
  }

  p {
    position: absolute;
    top: calc(50% + 1.2em);
    left: 0;
    width: 100%;
    color: #fff;
    font-size: $font-size-sm;
    padding: 0 32px;

    @include respondTo(xs) {
      font-size: $font-size-md;
    }

    @include respondTo(md) {
      font-size: $font-size-lg;
    }

    @include respondTo(lg) {
      font-size: $font-size-xl;
      padding: 0 34px;
    }
  }
}
