@use "sass:color";

.BusinessLayout {
  .Business {
    --color-point: var(--theme-main);
    --color-highlight: var(--theme-main);
    --color-active: var(--theme-main);

    --gradient: linear-gradient(
      to right,
      rgba(var(--theme-gradient-rgb), 0.3) 0%,
      rgba(var(--theme-gradient-rgb), 0.2) 60%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  // 강조 문구
  .QuoteArea {
    text-align: center;
    margin: $spacing-layout-md 10% 0;
    font-size: $font-size-display-sm;

    @include respondTo(tablet-l) {
      margin-top: 160px;
    }

    .quote-text {
      position: relative;
      display: inline-block;
      color: rgba(0, 0, 0, 0.2);
      background: linear-gradient(
          to right,
          $color-text-title,
          $color-text-title
        )
        no-repeat;
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 0%;

      @include respondTo(tablet-s) {
        font-size: $font-size-display-md;
      }
      @include respondTo(tablet-l) {
        font-size: $font-size-display-lg;
      }

      &::before,
      &::after {
        position: absolute;
        top: 0;
      }
      &::before {
        content: "“";
        right: 102%;
      }
      &::after {
        content: "”";
        left: 102%;
      }
    }
  }

  .BusinessIntroSection {
    margin-top: min(10vw, 100px);

    .desc-box {
      margin-bottom: $spacing-sm;
      text-align: center;

      @include respondTo(tablet-s) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
      }

      @include respondTo(tablet-l) {
        max-width: 1180px;
        margin-bottom: $spacing-layout-md;
      }
    }

    .desc {
      font-size: 1.7rem;
      margin-top: 0.8em;

      @include respondTo(tablet-l) {
        font-size: 2.5rem;
        line-height: 1.5;
      }
    }
  } // BusinessIntroSection

  .intro-img {
    display: block;
    margin-top: 2.4em;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 100%;

    &.card {
      border-radius: $radius-card-lg;
    }

    &.spacing-l {
      margin-top: 40px;

      @include respondTo(tablet-s) {
        margin-top: min(7vw, 100px);
      }
    }
  }

  // 컨텐츠 박스 헬퍼 (로지스틱, 비전)
  .cnt-box {
    margin-top: min(12vw, 130px);
  }
  .text-box {
    margin-bottom: min(3vw, 40px);

    .cnt-title {
      margin-bottom: 0;
    }
    .desc {
      margin-top: min(2vw, 30px);
      text-align: center;
    }
  }

  // 응용분야
  .ApplicationsSection {
    color: #fff;
    padding-top: min(10.4vw, 74px);
    padding-bottom: min(10.4vw, 100px);
    margin-top: min(10vw, 60px);
    @include fullBackground($color-background-dark);

    @include respondTo(tablet-l) {
      margin-top: $spacing-layout-xl;
    }

    &__cnt {
      .sec-title {
        display: block;
        text-align: center;
        font-size: $font-size-section-title-sm;
        margin-bottom: $spacing-content-sm;

        @include respondTo(tablet-s) {
          font-size: $font-size-section-title-md;
          margin-bottom: $spacing-content-md;
        }

        @include respondTo(pc-s) {
          font-size: $font-size-section-title-lg;
          margin-bottom: $spacing-content-lg;
        }
      }

      .grid-block {
        row-gap: min(7vw, 80px);

        &__list {
          margin-top: 1.2em;
          gap: 0.5em;

          li {
            font-size: 1em;
          }
        }
      }
    }

    // 솔루션 이동 링크
    &__link {
      position: relative;
      display: flex;
      margin-top: min(5vw, 50px);
      margin-left: auto;
      gap: 0.5em;
      width: fit-content;
      overflow: hidden;
      background-color: $color-point;

      span,
      svg {
        color: #fff;
      }

      svg {
        margin-bottom: -3px;
        transform: rotateZ(90deg);
      }

      &:after {
        background: #ffffff20;
        content: "";
        height: 155px;
        left: -75px;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
      }

      &:hover {
        &::after {
          left: 120%;
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        }
      }
    }
  }

  // 제품 리스트
  .ProductCatalog {
    position: relative;
    margin-top: min(10vw, 60px);

    @include respondTo(tablet-l) {
      margin-top: $spacing-layout-xl;
    }

    .catalog__title-box {
      @include fullBackground();

      &::before {
        background: var(--gradient);
      }

      .catalog__title {
        padding: 2rem 1rem 25vw;
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: bottom center;
        text-align: center;

        @include respondTo(tablet-s) {
          padding: 4rem 1rem 5rem;
          background-size: contain;
          background-position: bottom right;
          text-align: left;
        }

        @include respondTo(tablet-l) {
          padding: 6rem 0;
        }

        span {
          display: block;
          font-size: $font-size-con-title-sm;

          &.s {
            opacity: 50%;
            font-size: $font-size-con-title-xs;
            font-size: max(1.5rem, 2.2vw);
            font-weight: 400;
          }

          @include respondTo(tablet-s) {
            font-size: $font-size-section-title-md;
          }

          @include respondTo(tablet-l) {
            &.s {
              font-size: $font-size-section-title-sm;
            }
            &.l {
              font-size: $font-size-section-title-lg;
            }
          }

          @include respondTo(pc-s) {
            &.s {
              font-size: $font-size-section-title-md;
            }
            &.l {
              font-size: $font-size-section-title-xl;
            }
          }
        }
      }
    }

    .flex-container {
      flex-direction: column;
      gap: 40px;
      margin-top: $spacing-layout-sm;

      @include respondTo(tablet-l) {
        flex-direction: row;
      }

      @include respondTo(pc-s) {
        gap: 60px;
      }

      .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $gutter-sm;

        @include respondTo(tablet-l) {
          flex: 6;
          grid-template-columns: repeat(4, 1fr);
          gap: $gutter-lg;
        }

        .ProductListItem {
          position: relative;
          padding: 14px 16px;
          border: 1px solid $color-border;
          border-radius: $radius-card-md;
          word-break: break-all;
          transition: all 0.3s ease;

          @include respondTo(tablet-s) {
            padding: 20px 28px;
          }

          &:hover,
          &:focus {
            color: var(--color-active);
            border-color: var(--color-active);

            .subject span {
              background-color: var(--color-active);
              transform: rotate(180deg);
              border: 1px solid var(--color-active);

              &::before {
                background-color: #fff;
              }
            }
          }

          &:focus {
            outline: none;
            box-shadow: 0 0 0 1px var(--color-active);
          }

          .subject {
            display: flex;
            gap: 8px;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;

            .sb-txt {
              flex: 1;
              width: fit-content;
              text-align: left;
              font-size: $font-size-sm;
              font-weight: inherit;

              @include respondTo(tablet-l) {
                font-size: $font-size-md;
              }

              @include respondTo(pc-s) {
                font-size: $font-size-lg;
              }
            }

            .sb-icon {
              position: relative;
              display: block;
              width: 2.8rem;
              height: 2.8rem;
              border-radius: 50%;
              border: 1px solid $color-border;

              transition: all 0.4s ease;

              &::before {
                @include pseudoDefault();
                @include maskImageDefault(
                  "@components/icons/icon_add.svg",
                  var(--color-point)
                );
                transition: inherit;
              }

              @include respondTo(tablet-s) {
                width: 3.2rem;
                height: 3.2rem;
              }
            }
          }
        }
      }
    }
  } // ProductCatalog

  // 제품 상세 보기
  .ProductDetailView {
    .pd_flex {
      display: flex;
      flex-direction: column;
      gap: 40px;
      justify-content: space-between;

      @include respondTo(tablet-s) {
        flex-direction: row;
        justify-content: center;
      }

      @include respondTo(tablet-l) {
        gap: 60px;
      }

      .pd_left {
        flex: 1 1 49%;
        text-align: center;
        align-content: center;
        padding: 48px;
        background-color: $color-blue-050;
        border-radius: $radius-card;

        @include respondTo(tablet-l) {
          padding: 60px;
        }

        img {
          max-width: 500px;
        }
      }

      .pd_right {
        flex: 1 1 51%;
        align-content: center;

        @include respondTo(tablet-s) {
          padding: 5rem 2rem 2rem 0; // 모달창 닫기 버튼과 컨텐츠의 겹침 방지
        }

        .prod_name {
          font-size: $font-size-con-title-md;

          @include respondTo(tablet-s) {
            max-width: 520px;
            font-size: $font-size-con-title-lg;
          }
        }

        .prod_desc {
          .prod_desc__inner {
            margin-top: 2rem;

            @include respondTo(tablet-l) {
              margin-top: 2.8rem;
            }

            .prod_desc__title {
              color: $color-point;
              font-size: calc(1em + 0.4rem);
              margin-bottom: 1.2rem;
            }

            p,
            li {
              word-break: break-all;
              text-align: justify;
            }

            p {
              line-height: 1.5;

              &:nth-of-type(n + 2) {
                margin-top: 0.4rem;
              }
            }

            .bullets {
              li {
                margin-top: 1rem;
                line-height: 1.2;
              }
            }
          }
        }
      }
    }

    .ProductInfoSection {
      position: relative;
      width: 100%;
      margin: 4rem auto 0;

      &.detail {
        max-width: 860px;
      }

      @include respondTo(tablet-l) {
        margin-top: 5.4rem;
      }

      h6 {
        font-size: $font-size-con-title-sm;
        font-weight: 600;

        @include respondTo(tablet-s) {
          font-size: $font-size-con-title-md;
        }

        @include respondTo(tablet-l) {
          font-size: $font-size-con-title-lg;
        }
      }

      span.copy-prevent {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
      }

      img {
        margin-top: 12px;

        @include respondTo(tablet-l) {
          margin-top: 16px;
        }
      }
    }
  } // ProductDetailView
} // BusinessLayout
