.Logistics {
  .RollingSwiper {
    .swiper-wrapper {
      align-items: center;

      .swiper-slide {
        width: calc((100% - 48px) / 3); // 3개 보이기

        @include respondTo(tablet-s) {
          width: calc((100% - 120px) / 6); // 4개 보이기
        }
      }
    }
  }

  .video-box {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}
