.Logistics {
  .cnt-box {
    margin-top: min(12vw, 130px);
  }
  .text-box {
    margin-bottom: min(3vw, 40px);

    .cnt-title {
      margin-bottom: 0;
    }
    .desc {
      margin-top: min(2vw, 30px);
      text-align: center;
    }
  }

  .RollingSwiper {
    .swiper-wrapper {
      align-items: center;

      .swiper-slide {
        width: calc((100% - 48px) / 3); // 3개 보이기

        @include respondTo(tablet-s) {
          width: calc((100% - 120px) / 6); // 4개 보이기
        }
      }
    }
  }

  .video-box {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .ApplicationsSection {
    color: #fff;
    padding-top: min(10.4vw, 74px);
    padding-bottom: min(10.4vw, 100px);
    margin-top: min(10vw, 60px);
    @include fullBackground($color-background-dark);

    @include respondTo(tablet-l) {
      margin-top: $spacing-layout-xl;
    }

    &__cnt {
      text-align: center;

      .sec-title {
        display: block;
        font-size: $font-size-section-title-sm;
        margin-bottom: $spacing-content-sm;

        @include respondTo(tablet-s) {
          font-size: $font-size-section-title-md;
          margin-bottom: $spacing-content-md;
        }

        @include respondTo(pc-s) {
          font-size: $font-size-section-title-lg;
          margin-bottom: $spacing-content-lg;
        }
      }
    } // 응용분야

    &__link {
      position: relative;
      display: flex;
      margin-top: min(5vw, 50px);
      margin-left: auto;
      gap: 0.5em;
      width: fit-content;
      overflow: hidden;
      background-color: $color-point;

      span,
      svg {
        color: #fff;
      }

      svg {
        margin-bottom: -3px;
        transform: rotateZ(90deg);
      }

      &:after {
        background: #ffffff20;
        content: "";
        height: 155px;
        left: -75px;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
      }

      &:hover {
        &::after {
          left: 120%;
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        }
      }
    }
  }
}
