.Vision {
  --gap-lg: min(6vw, 60px);

  .BusinessIntroSection {
    .desc-box {
      text-align: left;
    }

    .desc {
      position: relative;
      margin-top: 0.8em;
      padding-left: max(20px, 1em);

      &::before {
        @include pseudoDefault(rgba(0, 0, 0, 0), 0.8em);
        top: 0.3em;

        @include backgroundImage(
          $pos: center,
          $size: contain,
          $url: url("/src/components/icons/icon_bullet_chevron.svg")
        );

        filter: brightness(0) saturate(100%) invert(86%) sepia(0%) saturate(0%)
          hue-rotate(0deg);
      }
    }

    .cnt-box {
      margin-top: min(12vw, 130px);
    }

    .text-box {
      margin-bottom: min(3vw, 40px);

      .cnt-title {
        margin-bottom: 0;
      }
      .desc {
        margin-top: min(2vw, 30px);
        text-align: center;
      }
    }

    .system-flow-sec {
      @include fullBackground(#f6f7fb);
      padding: var(--gap-lg) 0 var(--gap-lg) 0;
    }

    // 슬라이더
    .FadeUpTextSlider {
      position: relative;

      .swiper {
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
        overflow: hidden;

        @include respondTo(pc-l) {
          padding-bottom: 36px;
        }

        .swiper-pagination-bullets {
          bottom: 0;

          .swiper-pagination-bullet {
            width: 10px;
            height: 10px;

            &-active {
              transform: scale(1.5);
              background-color: var(--color-point);
            }
          }
        }

        .img-box {
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          overflow: hidden;
          border-radius: $radius-card-md;

          @include respondTo(tablet-s) {
            border-radius: $radius-card-lg;
          }
        }
      }

      .txt-box {
        top: 100%;
        max-width: 1200px;
        margin: 2em auto 0;
        padding: 0 2px;
        opacity: 0;
        transform: translateY(20px);
        transition:
          opacity 0.5s ease,
          transform 0.5s ease;
        text-align: center;

        @include respondTo(tablet-l) {
          margin-top: 3em;
          font-size: 1.8rem;
        }

        &.active {
          opacity: 1;
          transform: translateY(0);
        }

        &.inactive {
          opacity: 0;
          transform: translateY(20px);
        }

        strong {
          display: block;
          font-size: 1.2em;
          margin-bottom: 0.5em;
          font-weight: 600;
          @include respondTo(tablet-l) {
            margin-bottom: 0.8em;
            font-size: 1.4em;
          }
        }
      }
    }
  }
}
