@use "sass:map";

// 중단점 - $breakpoints
$breakpoints: (
  mobile-l: 481px,
  // tablet
  tablet-s: 769px,
  tablet-l: 1025px,
  // pc
  pc-s: 1281px,
  pc-l: 1440px,
);

@mixin respondTo($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error "Breakpoint '#{$breakpoint}' does not exist in the \$breakpoints map.";
  }
}

// 플렉스 박스 기본값
@mixin flexBox(
  $direction: row,
  $gap: 0,
  $align: stretch,
  $justify: flex-start,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

// 가상 선택자 기본값
@mixin pseudoDefault($color: #000, $size: 100%) {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: $size;
  height: $size;
  content: "";
  background-color: $color;
}

// 탈그리드 컨텐츠용
@mixin fullContent() {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100vw;
}

// 모달 오버레이 등 사용
@mixin fullPageLow() {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

@mixin positionCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin maskImageDefault($url, $color: #000) {
  mask-image: url($url);
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: $color;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

// 정삼각형
@mixin triangle($color: #000, $size: 30px, $direction: "top") {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;

  @if $direction == "top" {
    border-width: 0px $size calc($size * 1.732) $size;
    border-color: transparent transparent $color transparent;
  }
  @if $direction == "bottom" {
    border-width: calc($size * 1.732) $size 0 $size;
    border-color: $color transparent transparent transparent;
  }
  @if $direction == "left" {
    border-width: $size calc($size * 1.732) $size 0;
    border-color: transparent $color transparent transparent;
  }
  @if $direction == "right" {
    border-width: $size 0 $size calc($size * 1.732);
    border-color: transparent transparent transparent $color;
  }
}

// ==== hover시 밑줄 ====
@mixin hover-active-underline(
  $color: #000,
  $underline-weight: 1px,
  $underline-color: $color
) {
  position: relative;
  color: inherit;
  transition: color 0.5s ease;

  &:hover,
  &:focus,
  &.active {
    color: $color;

    &::after {
      transform: scaleX(1);
      background-color: $underline-color;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 1px; // 밑줄 위치 (글자 아래 간격)
    width: 80%;
    height: $underline-weight;
    transform: scaleX(0); // 초기 상태: 밑줄 숨김
    transform-origin: left;
    transition: transform 0.5s ease;
  }
}
