@use "sass:map";

// 중단점 - $breakpoints
$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 1025px,
  lg: 1201px,
  xl: 1440px,
);

@mixin respondTo($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error "Breakpoint '#{$breakpoint}' does not exist in the \$breakpoints map.";
  }
}

@mixin pseudoDefault($color: #000) {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-color: $color;
}

@mixin fullPageLow() {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

// ==== hover시 밑줄"
@mixin hover-active-underline(
  $color: #000,
  $underline-width: 1px,
  $underline-color: $color
) {
  position: relative;
  color: inherit;
  transition: color 0.3s ease;

  &:hover,
  &.active {
    color: $color;

    &::after {
      transform: scaleX(1);
      background-color: $underline-color;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 1px; // 밑줄 위치 (글자 아래 간격)
    width: 80%;
    height: $underline-width;
    transform: scaleX(0); // 초기 상태: 밑줄 숨김
    transform-origin: left;
    transition: transform 0.3s ease;
  }
}
