// ========== SIZE ==========
:root {
  --bg-color: #ffffff;
}

//  header
$header-sm: 64px;
$header-md: 88px;

// ========== FONTSIZE ==========
$font-size-base: 62.5% !default; //10px 1rem으로 설정
$font-size-xs: 1.3rem;
$font-size-sm: 1.5rem;
$font-size-md: 1.7rem;
$font-size-lg: 1.9rem;
$font-size-xl: 2.5rem;

$font-size-caption: 1.3rem;

$font-size-con-title-xs: 1.9rem;
$font-size-con-title-sm: 2.2rem;
$font-size-con-title-md: 3.2rem;
$font-size-con-title-lg: 4rem;

$font-size-section-title-sm: 2.5rem;
$font-size-section-title-md: 3.2rem;
$font-size-section-title-lg: 4rem;
$font-size-section-title-xl: 6.6rem;

$font-size-display-xs: 2.5rem;
$font-size-display-sm: 3.2rem;
$font-size-display-md: 4rem;
$font-size-display-lg: 6.6rem;

// ========== FONTWEIGHT ==========
$weight-thin: 100;
$weight-extraLight: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-mdium: 500;
$weight-semiBold: 600;
$weight-bold: 700;
$weight-extraBold: 800;
$weight-black: 900;

// ========== RADIUS ==========
$radius-xs: 8px;
$radius-md: 16px;
$radius-lg: 30px;
$radius-xl: 30px;

$radius-card: $radius-xl;
$radius-card-md: $radius-md;
$radius-card-lg: $radius-xl;

// ========== Spacing ==========
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;

$gap-1: 8px;
$gap-2: 16px;
$gap-3: 24px;
$gap-4: 32px;

$gutter-sm: 16px;
$gutter-lg: 24px;

$spacing-layout-sm: 40px;
$spacing-layout-md: 64px;
$spacing-layout-lg: 80px;
$spacing-layout-xl: 140px;

$spacing-content-xs: 8px;
$spacing-content-sm: 24px;
$spacing-content-md: 32px;
$spacing-content-lg: 64px;
$spacing-content-xl: 96px;

$gap-mobile-layout-title-body-xs: 180px;
$gap-mobile-layout-title-body-sm: 180px;
$gap-mobile-layout-title-body-md: 180px;
$gap-mobile-layout-title-body-lg: 45px;
$gap-mobile-layout-title-body-xl: 140px;

$gap-pc-layout-title-body-xs: 180px;
$gap-pc-layout-title-body-sm: 180px;
$gap-pc-layout-title-body-md: 180px;
$gap-pc-layout-title-body-lg: 180px;
$gap-pc-layout-title-body-xl: 140px;

// ========== OVERLAY ==========
// with background-image
$overay-black-350: linear-gradient(
  to right,
  rgba(0, 0, 0, 0.36) 0%,
  rgba(0, 0, 0, 0.36) 100%
);

$overay-white-350: linear-gradient(
  to right,
  rgba(255, 255, 255, 0.3) 0%,
  rgba(255, 255, 255, 0.3) 100%
);

// ========== COLOR ==========
// COLOR GRAY
$color-gray-050: #f8f8f8;
$color-gray-100: #f0f0f0;
$color-gray-200: #e4e4e4;
$color-gray-300: #d8d8d8;
$color-gray-400: #c6c6c6;
$color-gray-500: #8e8e8e;
$color-gray-600: #717171;
$color-gray-700: #555555;
$color-gray-800: #2d2d2d;
$color-gray-900: #1d1d1d;

// COLOR BLUE
$color-blue-050: #f2f7ff !default;
$color-blue-100: #d3e1fb !default;
$color-blue-200: #a7c4f7 !default;
$color-blue-300: #7ca6f3 !default;
$color-blue-400: #5089ef !default;
$color-blue-500: #246beb !default;
$color-blue-600: #1d56bc !default;
$color-blue-700: #16408d !default;
$color-blue-800: #0e2b5e !default;
$color-blue-900: #07152f !default;

// COLOR RED
$color-red: #ff2929;

// COLOR SETTING
$color-text-body: $color-gray-900;
$color-text-title: $color-gray-900;
$color-text-disabled: $color-gray-400;
$color-text-light: $color-gray-500;

$color-point: $color-blue-600;
$color-active: $color-blue-600;

$color-border: $color-gray-200;
$color-background-light: $color-gray-100;
$color-background-dark: #242426;

$color-white-000: #fff;
$color-black-900: #000000;

// ========== SHADOW ==========
$text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);
$floating-shadow: 0 1px 2px rgba(60, 64, 67, 0.3),
  0 1px 3px 1px rgba(60, 64, 67, 0.15);

// ========== Z-INDEX ==========
$z-index-popup: 1000;
$z-index-header: 900;
$z-index-mobile-menu: 300;
$z-index-swiper-up: 100;
$z-index-floating: 100;

// ========== filter ==========
// 기본 색상 == black
$filter-white: invert(100%) sepia(0%) saturate(6127%) hue-rotate(359deg)
  brightness(109%) contrast(103%);

$filter-bright-blue: invert(21%) sepia(97%) saturate(1714%) hue-rotate(204deg)
  brightness(100%) contrast(86%);
