// breakpoints
$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
  xl: 1440px,
);

// FONTSIZE
$font-size-xs: 13px;
$font-size-sm: 15px;
$font-size-md: 17px;
$font-size-lg: 19px;
$font-size-con-title-sm: 25px;
$font-size-con-title-lg: 40px;
$font-size-section-title-sm: 25px;
$font-size-section-title-lg: 40px;

// RADIUS
$radius-sm: 8px;
$radius-md: 16px;
$radius-lg: 30px;

// Spacing
$gutter-sm: 16px;
$gutter-lg: 24px;

// OVERLAY
$overay-350: linear-gradient(
  to right,
  rgba(0, 0, 0, 0.36) 0%,
  rgba(0, 0, 0, 0.36) 100%
);

// COLOR GRAY
$color-gray-000: #fff;
$color-gray-050: #f8f8f8;
$color-gray-100: #f0f0f0;
$color-gray-200: #e4e4e4;
$color-gray-300: #d0d5dd;
$color-gray-400: #98a2b3;
$color-gray-500: #667085;
$color-gray-600: #475467;
$color-gray-700: #344054;
$color-gray-800: #1d2939;
$color-gray-900: #1d1d1d;

// COLOR BLACK
$color-black-900: #000000;

// COLOR SETTING
$color-border: $color-gray-200;
$color-main-card-01: #d9e4f1;
