// ========== SIZE ==========
//  SIZE
$header-sm: 64px;
$header-md: 88px;

// FONTSIZE
$font-size-xs: 13px;
$font-size-sm: 15px;
$font-size-md: 17px;
$font-size-lg: 19px;

$font-size-con-title-sm: 25px;
$font-size-con-title-lg: 40px;

$font-size-section-title-sm: 25px;
$font-size-section-title-lg: 40px;

$font-size-display-sm: 25px;
$font-size-display-lg: 66px;

// ========== RADIUS ==========
$radius-xs: 8px;
$radius-md: 16px;
$radius-lg: 30px;
$radius-card: $radius-lg;

// ========== Spacing ==========
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

$gutter-sm: 16px;
$gutter-lg: 24px;

$spacing-layout-sm: 40px;
$spacing-layout-md: 64px;
$spacing-layout-lg: 80px;

$spacing-content-sm: 8px;
$spacing-content-sm: 24px;
$spacing-content-md: 32px;
$spacing-content-lg: 64px;
$spacing-content-lg: 32px;

// ========== OVERLAY ==========
// with background-image
$overay-black-350: linear-gradient(
  to right,
  rgba(0, 0, 0, 0.36) 0%,
  rgba(0, 0, 0, 0.36) 100%
);

$overay-white-350: linear-gradient(
  to right,
  rgba(255, 255, 255, 0.3) 0%,
  rgba(255, 255, 255, 0.3) 100%
);

// ========== COLOR ==========
// COLOR GRAY
$color-gray-050: #f8f8f8;
$color-gray-100: #f0f0f0;
$color-gray-200: #e4e4e4;
$color-gray-300: #d8d8d8;
$color-gray-400: #c6c6c6;
$color-gray-500: #8e8e8e;
$color-gray-600: #717171;
$color-gray-700: #555555;
$color-gray-800: #2d2d2d;
$color-gray-900: #1d1d1d;

// COLOR BLUE
$color-blue-5: #eff5ff !default;
$color-blue-10: #d3e1fb !default;
$color-blue-20: #a7c4f7 !default;
$color-blue-30: #7ca6f3 !default;
$color-blue-40: #5089ef !default;
$color-blue-50: #246beb !default;
$color-blue-60: #1d56bc !default;
$color-blue-70: #16408d !default;
$color-blue-80: #0e2b5e !default;
$color-blue-90: #07152f !default;

// COLOR SETTING
$color-text-body: $color-gray-900;
$color-text-title: $color-gray-900;
$color-text-strong: $color-gray-900;

$color-border: $color-gray-200;
$color-main-card-01: #d9e4f1;

$color-white-000: #fff;
$color-black-900: #000000;

// ========== Z-INDEX ==========
$z-index-popup: 1000;
$z-index-header: 900;
